/**
 *		NSCC Strategic Plan Sites styles
 *
 *		Base stylesheet for theme. Most of the text specifications are contained
 *		in the imported stylesheet to make them available to the RTF widget used
 *		by content managers.
 *
 */

@import "tiny-mce.css";



/*
--------------------------
BASIC STRUCTURE (supplimental)
--------------------------
*/

body { background: rgb(230, 227, 220) url(../../nscc_960/imgs/bg-page-rev.png) left top repeat-x scroll; }



/*
--------------------------
TEXT FORMATTING (supplimental)
--------------------------
*/





/*
--------------------------
HYPERLINK ENHANCEMENT EXCLUSIONS
--------------------------
*/





/*
--------------------------
HOME PAGE
--------------------------
*/


/* Core-Themems buttons */

.front .core-themes-list { overflow: hidden; }

.front .core-themes-list ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

.front .core-theme-item {
	position: relative;
	display: block;
	float: left;
	width: 220px;
	margin: 0;
	padding: 0 10px;
	list-style: none outside none;
}

.front .core-themes-list .views-row-first {	padding-left: 0; }

.front .core-themes-list .views-row-last { padding-right: 0; }

.front .core-theme-link {
	display: block;
	min-height: 72px;
	margin: 0;
	padding: 10px 0;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.front .core-theme-link:link,
.front .core-theme-link:visited {
	background: rgb(150, 175, 146);
	color: rgb(51, 51, 51);
	border: solid 1px rgb(135, 160, 131);
}

.front .core-theme-link:hover {
	background: rgb(220, 233, 196);
	color: rgb(42, 116, 144);
	border-color: rgb(206, 222, 176);
}


/* Repository Button */

#documents-button {
	display: block;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

#documents-button:link,
#documents-button:visited {
	color: rgb(42, 116, 144);
	background: rgb(246,248,249);
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}

#documents-button:hover {
	color: rgb(215, 215, 234);
	background: rgb(30,43,66);
	background: -moz-linear-gradient(top, rgba(30,43,66,1) 0%, rgba(48,63,90,1) 13%, rgba(44,68,96,1) 24%, rgba(9,28,57,1) 47%, rgba(26,32,68,1) 50%, rgba(9,28,57,1) 54%, rgba(102,112,136,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,43,66,1)), color-stop(13%,rgba(48,63,90,1)), color-stop(24%,rgba(44,68,96,1)), color-stop(47%,rgba(9,28,57,1)), color-stop(50%,rgba(26,32,68,1)), color-stop(54%,rgba(9,28,57,1)), color-stop(100%,rgba(102,112,136,1)));
	background: -webkit-linear-gradient(top, rgba(30,43,66,1) 0%,rgba(48,63,90,1) 13%,rgba(44,68,96,1) 24%,rgba(9,28,57,1) 47%,rgba(26,32,68,1) 50%,rgba(9,28,57,1) 54%,rgba(102,112,136,1) 100%);
	background: -o-linear-gradient(top, rgba(30,43,66,1) 0%,rgba(48,63,90,1) 13%,rgba(44,68,96,1) 24%,rgba(9,28,57,1) 47%,rgba(26,32,68,1) 50%,rgba(9,28,57,1) 54%,rgba(102,112,136,1) 100%);
	background: -ms-linear-gradient(top, rgba(30,43,66,1) 0%,rgba(48,63,90,1) 13%,rgba(44,68,96,1) 24%,rgba(9,28,57,1) 47%,rgba(26,32,68,1) 50%,rgba(9,28,57,1) 54%,rgba(102,112,136,1) 100%);
	background: linear-gradient(to bottom, rgba(30,43,66,1) 0%,rgba(48,63,90,1) 13%,rgba(44,68,96,1) 24%,rgba(9,28,57,1) 47%,rgba(26,32,68,1) 50%,rgba(9,28,57,1) 54%,rgba(102,112,136,1) 100%);
}


/* Primary Content */

.front .region-main {
	position: relative;
	background-color: rgb(219, 212, 184);
	padding: 10px;
}

.front .region-main .tabs { margin: 0; }

.front .region-main .node {
	margin: 0;
	padding: 10px 30px;
	background-color: rgb(250, 248, 246);
	border-radius: 30px;
}

.front .region-main .node h2 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	line-height: 1;
}

.front .region-main .node h3 {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 18px;
	line-height: 1;
}

.front .region-main .node p {
	margin: 0;
	padding: 0;
	font: normal 1em/1.2 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
}






/*
--------------------------
CORE THEMES
--------------------------
*/

#content-title .core-theme-id {
	display: block;
	margin: 0;
	padding: 0;
	color: rgb(122, 122, 122);
	font-size: 60%;
	line-height: 1;
	font-weight: normal;
}

.related-objectives-list {
	list-style: none outside none;
}

.related-objectives-list li {
	clear: left;
	font-size: 1em;
}

.objective-number {
	display: block;
	float: left;
	min-width: 2em;
	margin-right: .5em;
}






/*
--------------------------
OBJECTIVES
--------------------------
*/

#content-title .objective-id {
	display: block;
	margin: 0;
	padding: 0;
	color: rgb(122, 122, 122);
	font-size: 60%;
	line-height: 1;
	font-weight: normal;
}

.related-indicators-list {
	list-style: none outside none;
}

.related-indicators-list li {
	clear: left;
	font-size: 1em;
}

.indicator-number {
	display: block;
	float: left;
	min-width: 2em;
	margin-right: .5em;
}






/*
--------------------------
INDICATORS
--------------------------
*/

#content-title .indicator-id {
	display: block;
	margin: 0;
	padding: 0;
	color: rgb(122, 122, 122);
	font-size: 60%;
	line-height: 1;
	font-weight: normal;
}






/*
-----------------------------
FRONT PAGE SLIDES
-----------------------------

.fp_slide {
  position: relative;
  width: 700px;
  height: 288px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(207, 203, 194);
}

.fp_slide a { text-decoration: none; }

.fp_slide-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  width: 190px;
  height: 288px;
  margin: 0;
  padding: 10px 10px 0 50px;
  color: rgb(255, 255, 255);
}

.fp_slide-content h2 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.fp_slide-content p {
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.fp-slide .slide-nav {
  position: absolute;
  top: 0;
  right: 230px;
  margin: 0;
  padding: 0;
}

.fp-slide .slide-nav ol {
  list-style: none;
  margin: 10px 0;
  text-align: right;
}

.fp-slide .slide-nav li {
  display: inline;
  color: rgba(0,0,0,.4);
  background-color: rgba(230,230,230,.4);
  margin: 0 5px;
  padding: 3px;
  line-height: 1;
  font-size: 14px;
}

.fp-slide .slide-nav li.current-slide {
  color: rgba(255,255,255,.8);
  background-color: rgba(0,0,0,.4);
}
*/




/*
-----------------------------
CALLOUTS
-----------------------------
*/





/*
-----------------------------
SIDEBARS
-----------------------------

#side-column1 { margin-top: 0; }

.region-right .block {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.region-right .block ul {
  list-style: none;
  padding: 0;
}

#side-column1 li {
  list-style: none;
  font-size: 12px;
}

.region-right .block ul a:link,
.region-right .block ul a:visited,
.region-right .block .more-link a:link,
.region-right .block .more-link a:visited { text-decoration: none; }

.region-right .block ul a:hover,
.region-right .block .more-link a:hover { text-decoration: underline; }

.region-right .block .more-link {
  font-size: 11px;
  line-height: 1;
}

div.contact-info {
	margin: 10px 0;
	padding: 5px;
	color: rgb(255, 255, 255);
	background-color: rgb(185, 76, 38);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

div.contact-info h2 {
	color: rgb(255, 255, 255);
	font-size: 15px;
	line-height: 1.1;
}

#side-column1 div.contact-info h3,
div.contact-info h3 {
	margin: 10px 0 0;
	color: rgb(255, 201, 182);
	font-size: 11px;
	line-height: 16px;
}

div.contact-info .location-img { text-align: center; }

div.contact-info p,
div.contact-info li,
div.contact-info .location-description,
#side-column1 div.contact-info p,
#side-column1 div.contact-info li {
	margin: 0 0 12px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	line-height: 16px;
}

div.contact-info a {
	padding: 0 12px 0 0;
	background: transparent url(/sites/all/themes/nscc_960/imgs/bullet-navigation-right.png) right center no-repeat;
}

div.contact-info a:link,
div.contact-info a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

div.contact-info a:hover {
	text-decoration: underline;
}

.feed-wrapper { margin: 0 0 9px; }

.feed-title { line-height: 1.2; }

.feed-content {
	font-size: 10px;
	color: rgb(95, 93, 89);
}
*/




/*
--------------------------
BREADCRUMBS & QUICKLINKS
--------------------------
*/






/*
--------------------------
FOOTER
--------------------------
*/





/*
--------------------------
BLOCKS (misc)
--------------------------
*/

#stratplan-logo-banner {
	position: relative;
	display: block;
	width: 700px;
	height: 188px;
	overflow: hidden:
}

#stratplan-logo-banner .glir-shim {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: transparent url(../imgs/banner.png) 0 0 no-repeat scroll;
}

#stratplan-logo-banner h1,
#stratplan-logo-banner h2,
#stratplan-logo-banner p {
	margin: 0;
	padding: 0;
	font-size: 1em;
}






/*
--------------------------
AGGREGATOR, FEEDS, & FEED ICONS
--------------------------
*/

