/**
 *		Text styles for NSCC Strategic Plan Sites theme
 *
 *		Defines the presentation of content inside the widget interface
 *		and selectable style-groups for specific content elements (e.g. tables)
 *		to simplify formatting standardization for content managers.
 *
 *		These styles need to be included by the 960 theme's base stylesheet to
 *		to ensure they are also applied to the public view of the content.
 *
 */



/* Start with base theme styles */

@import "/sites/all/themes/nscc_960/css/tiny-mce.css";


/* Override here as needed */




/*
--------------------------
USER-SELECTABLE STYLES (Tiny-MCE)
--------------------------
*/


/* Table: plain */

table.table-plain {
	width: 100%;
	margin: 15px 0;
	border: none 0;
}

table.table-plain caption {
	margin: 0 0 10px;
	font-size: 15px;
	text-align: left;
}

table.table-plain td {
	padding: .25em .5em;
	font-size: 12px;
}

table.table-plain th {
	padding: .25em .5em;
	font-size: 11px;
	font-weight: normal;
	color: rgb(111, 111, 111);
	border-bottom: solid 1px rgb(230, 227, 220);
	text-align: left;
}


/* Typeface: serif */

p.serif-font,
li.serif-font { font: 13px/1.5 DroidSerif, Georgia, "Times New Roman", Times, serif; }


/* List: no-marker */

ul.no-marker,
ol.no-marker,
ul.no-marker li,
ol.no-marker li,
li.no-marker {
	margin-left: 0;
	padding-left: 0;
	list-style: none outside none;
}


/* Images */

img.left-align {
	float: left;
	margin-right: 10px;
}

img.right-align {
	float: right;
	margin-left: 10px;
}