/* Corrective Styles for IE < 8 */
tr.odd td {
  background-color: #f5f5f5;
}
.region-main fieldset,
.region-main fieldset fieldset,
.region-main fieldset fieldset fieldset {
  background-color: #ffffff;
}
#toolbox div.block,
#block-menu-primary-links li,
#toolbox #block-nscc-1 h2 a,
.course-category li {
  height: 1%;
}
#block-nscc-1 #user-login-form {
  background-color: #638d9f;
}
.primary-local-tasks {
  background-color: #ffffff;
}
.menu li.leaf,
.menu li.collapsed,
.menu li.expanded,
.primary-local-tasks {
  list-style-image: none;
  list-style-type: none;
}
/* Not for IE 7+ nor obsolete IE for Mac \*/
* html #block-nscc-1,
* html div.comment,
* html #side-nav .menu li {
  height: 1%;
}
* html body {
  text-align: left;
}
* html #block-nscc-1 #edit-submit-1 {
  float: left;
}
* html #logo img,
* html #logo img a,
* html div.pngfix,
* html div.fp_slide-content {
  behavior: url(/sites/all/themes/zen_ninesixty/iepngfix.htc);
}
* html #main-column,
* html #side-column1 {
  overflow: hidden;
}
/* all done */