/**
 *		Admin & Content Manager CSS for NSCC Continuing Education site
 *
 *		Stylesheet for the CM and Admin UI.
 *
 *		04-Oct-2011 | mvellines:	created
 *		02-May-2012 | mvellines:	converted to LESS syntax (http://lesscss.org/)
 */
/*
-------------------------
CONTENT MANAGER UI
-------------------------
*/
ul.primary li {
  font-size: .75em;
}
.section-node-edit .content-area {
  background-image: none;
}
.section-node-edit .help {
  font-size: .8em;
}
input.searchfield {
  margin: 2px 0 0 0;
  padding: 0;
  width: 222px;
  vertical-align: middle;
  float: left;
}
input.searchbutton {
  margin: 0 0 0 10px;
  padding: 0;
  vertical-align: middle;
  display: block;
  float: left;
}
.form-item,
.form-checkboxes,
.form-radios {
  margin-top: 0;
}
.region-main fieldset {
  margin: 0 0 12px;
  padding: 12px;
  border: solid 1px #e6e3dc;
  background-color: #faf8f0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
html.js fieldset.collapsible {
  margin-bottom: 12px;
}
.region-main fieldset fieldset {
  background-color: #f0ede6;
}
.region-main fieldset fieldset fieldset {
  background-color: #dfdfd1;
}
.region-main legend {
  padding: 0 .5em;
  font-size: 1em;
  color: #8f8559;
}
.region-main fieldset .description {
  margin: 0 0 1em;
  font-size: .8em;
}
.region-main .form-item label {
  margin-bottom: 3px;
  font-size: .875em;
  font-family: BriskoSansBold, DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
}
.region-main .form-item .description {
  margin-top: .25em;
  font-size: .625em;
  color: #5f5f5f;
}
.region-main .form-item .description p,
.region-main .form-item .description li {
  font-size: 1em;
  line-height: 1.1;
}
.region-main .form-item .description li {
  padding: 0 0 .5em;
}
.tips {
  font-size: 1em;
}
form .tips {
  list-style: none;
  margin: 0;
  padding: 0;
}
form .tips li {
  margin: 0;
  padding: 0 0 3px;
  font-size: 1em;
  line-height: 1.2;
  color: #5f5f5f;
}
.input-tips-links {
  margin: 0 0 24px;
  font-size: 10px;
  text-align: right;
}
.teaser-checkbox div.form-item {
  margin: 0;
}
.wysiwyg-toggle-wrapper {
  float: right;
  font-size: 10px;
}
.filefield-element .widget-preview,
.filefield-element .widget-edit {
  float: none;
  max-width: none;
}
/* Login form (page) */
.region-main #user-login .netid_help {
  margin: 24px 0;
  padding: 12px;
  background-color: #dee5c8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* Multiselect Module */
#multiselect_btns .multiselect_add a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/add.png) no-repeat;
  background-position: 0 0;
}
#multiselect_btns .multiselect_remove a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/remove.png) no-repeat;
  background-position: 0 0;
}
/*
-------------------------
Admin UI
-------------------------
*/
div.admin {
  margin: 0;
  padding: 0;
}
.compact-link {
  margin: 0;
  padding: 0;
  font-size: .75em;
  line-height: 1;
  text-align: right;
}
.admin-panel {
  margin: 1em 0;
  padding: 0;
}
div.admin-panel .description {
  margin: 0;
  padding: 0;
  font-size: .75em;
}
.admin-panel ul.menu li,
.admin-panel .item-list li {
  margin-left: 1.25em;
  list-style-image: url(../imgs/bullet-crumb.png);
}
.admin-list dt {
  margin: 1em 0 0.25em;
  padding: 0;
  font: 1em/1 BriskoSansBold, DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
}
.admin-list dt a,
.admin-panel .menu a,
.admin-panel .item-list a,
.more-help-link a {
  margin: 0;
  padding: 0;
  background-image: none;
}
.admin-list dt a:link,
.admin-list dt a:visited,
.admin-panel .menu a:link,
.admin-panel .menu a:visited,
.admin-panel .item-list a:link,
.admin-panel .item-list a:visited,
.compact-link a:link,
.compact-link a:visited {
  color: #2a7490;
  text-decoration: none;
}
.admin-list dt a:hover,
.admin-panel .menu a:hover,
.admin-panel .item-list a:hover,
.compact-link a:hover {
  color: #333333;
  text-decoration: underline;
}
.admin-list dd {
  margin: 0 0 0 2em;
  padding: 0;
  font-size: .75em;
  line-height: 1.25;
}
/* Tabular lists */
#comment-admin-overview thead,
#node-admin-content thead,
.system-status-report thead {
  border-bottom: solid 1px;
}
.section-admin .region-main tr.odd {
  background-color: #f5f5f5;
}
.section-admin .region-main tr.even {
  background-color: transparent;
}
.section-admin .region-main tr.odd td.active {
  background-color: #ecf3d9;
}
.section-admin .region-main tr.even td.active,
.section-admin .region-main th.active {
  background-color: #f5fce9;
}
.section-admin .region-main th,
.section-admin .region-main td {
  padding: .25em .5em;
  font-size: .75em;
  line-height: 1.25;
}
.section-admin .region-main th {
  padding: 1em .5em;
}
.section-admin table.system-status-report th,
.section-admin table.system-status-report tr.merge-up td {
  padding-left: 30px;
}
#node-admin-filter ul {
  list-style-image: none;
}
#node-admin-filter #edit-status,
#node-admin-filter #edit-type {
  font-size: .75em;
}
#node-admin-content a:link,
#node-admin-content a:visited,
#comment-admin-overview a:link,
#comment-admin-overview a:visited,
#menu-overview-form a:link,
#menu-overview-form a:visited {
  color: #2a7490;
  text-decoration: none;
}
#node-admin-content a:hover,
#comment-admin-overview a:hover,
#menu-overview-form a:hover {
  color: #333333;
  text-decoration: underline;
}
#node-form #upload-attachments th,
#node-form #upload-attachments td {
  padding: 0 3px;
}
#node-form #upload-attachments tr .form-item {
  white-space: normal;
}
#node-form #upload-attachments .form-text {
  display: inline;
  width: auto;
}
#node-form .draggable a.tabledrag-handle {
  height: auto;
  margin: 0;
  padding: 0;
}
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: inherit;
}
.filefield-element .widget-preview,
.filefield-element .widget-edit {
  float: none;
}
div.messages,
div.status,
div.warning,
div.error {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) 0 0 0 #000000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) 0 0 0 #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) 0 0 0 #000000;
}
#system-themes-form td {
  padding: 6px;
  vertical-align: top;
}
