/**
 *		CSS for NSCC Continuing Education site
 *
 *		Base stylesheet for site.
 *
 *		04-Oct-2011 | mvellines:	created
 */
/**
 *		RTF Widget (TinyMCE) CSS for NSCC Continuing Education site
 *
 *		Defines the presentation of content inside the widget interface
 *		and selectable style-groups for specific content elements (e.g. tables)
 *		to simplify formatting standardization for content managers.
 *
 *		To ensure these styles are propagated to the public display, this CSS file
 *		should be included by the site's base stylesheet via @include directive.
 *
 *		04-Oct-2011 | mvellines:	created
 *		24-Apr-2012 | mvellines:	converted to LESS syntax (http://lesscss.org/)
 */
/*
--------------------------
FONTS
	Fontspring's Extra Bulletproofiness method: http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax
		supersedes Richard Fink's Mo' Bulletproofer method: http://readableweb.com/mo-bulletproofer-font-face-css-syntax/
	Museo Sans is A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl
		and used by permission.	Other fonts were acquired via Font Squirrel
		(http://www.fontsquirrel.com/) and are used in accordance with the terms
		of use for each.
--------------------------
*/
@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/DroidSerif-Regular.eot');
  src: url('../fonts/DroidSerif-Regular.eot?#iefix') format('embedded-opentype'), url(../fonts/DroidSerif-Regular.woff) format('woff'), url(../fonts/DroidSerif-Regular.ttf) format('truetype'), url(../fonts/DroidSerif-Regular.svg#DroidSerif) format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
/*
@font-face {
	font-family: 'MuseoSans';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	src: url('../fonts/MuseoSans_500.eot');
	src: url('../fonts/MuseoSans_500.eot?#iefix') format('embedded-opentype'),
		url(../fonts/MuseoSans_500.woff) format('woff'),
		url(../fonts/MuseoSans_500.otf) format('opentype'),
		url(../fonts/MuseoSans_500.svg#MuseoSans-500) format('svg');
}
*/
@font-face {
  font-family: 'DejaVuSansBook';
  src: url('../fonts/DejaVuSans-webfont.eot');
  src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DejaVuSans-webfont.woff') format('woff'), url('../fonts/DejaVuSans-webfont.ttf') format('truetype'), url('../fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
/*
@font-face {
    font-family: 'GravitasOneRegular';
    src: url('../fonts/GravitasOne-webfont.eot');
    src: url('../fonts/GravitasOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GravitasOne-webfont.woff') format('woff'),
         url('../fonts/GravitasOne-webfont.ttf') format('truetype'),
         url('../fonts/GravitasOne-webfont.svg#GravitasOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'OblikSerifBold';
	src: url('../fonts/OblikSerif-Bold-webfont.eot');
	src: url('../fonts/OblikSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OblikSerif-Bold-webfont.woff') format('woff'),
		 url('../fonts/OblikSerif-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/OblikSerif-Bold-webfont.svg#OblikSerifBold') format('svg');
	font-weight: bold;
	font-style: normal;
}
*/
@font-face {
  font-family: 'BriskoSansBold';
  src: url('../fonts/Brisko_Sans_Bold-webfont.eot');
  src: url('../fonts/Brisko_Sans_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Brisko_Sans_Bold-webfont.woff') format('woff'), url('../fonts/Brisko_Sans_Bold-webfont.ttf') format('truetype'), url('../fonts/Brisko_Sans_Bold-webfont.svg#OblikSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
}
/*
--------------------------
BASIC STRUCTURE
--------------------------
*/
html {
  font-size: 100%;
}
body {
  background: #ffffff none;
  font-size: 1em;
}
a:link {
  color: #2a7490;
}
a:visited {
  color: #666666;
}
a:hover {
  color: #222222;
}
/*
--------------------------
TEXT FORMATTING
--------------------------
*/
/*
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd, blockquote {
	font-family: @font-std;
	font-weight: normal;
	color: @color-text;
}
*/
body,
p,
ul,
ol,
dl,
li,
dd {
  font-family: DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
  font-weight: normal;
  color: #333333;
}

p
{
    color: #888888;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: BriskoSansBold, DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
  color: #333333;
}
blockquote {
  font-family: DroidSerif, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #333333;
}
abbr,
acronym {
  border: 0;
}
p {
  margin: 1.5em 0;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.5;
}
h1 {
    border-bottom: 1px solid #D1D1D1;
    color: #A2A2A2;
    font-family: "Century Gothic",Tahoma,Arial,sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0.5em;
    padding: 6px;
}
h2 {
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 .5em;
}
h3 {
  font-size: 1.1em;
  line-height: 1;
  margin: 0 0 .5em;
}
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1;
  margin: 0 0 .5em;
}
h5,
h6 {
  color: #6f6f6f;
}
ul {
  margin: 0.5em 0;
  padding: 0;
  list-style: disc outside url(../imgs/bullet-crumb.png);
}
ol {
  margin: 0.5em 0;
  padding: 0;
  list-style-type: decimal;
}
ul ul,
ol ol {
  margin-bottom: 0;
}
li {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.2em;
  margin: 0 0 0 1.5em;
  padding: .3em 0;
}
blockquote {
  margin-left: 2.5em;
  margin-right: 2.5em;
}
hr {
  height: 1px;
  border: 0 none;
  color: #e6e3dc;
  background-color: #e6e3dc;
}
/*
--------------------------
HYPERLINK ENHANCEMENTS
--------------------------
*/
/* Resources */
a[href$="/emergency-notifier.htm"],
a.link-emergency {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-emergency.png);
}
a[href$="/feed"],
a.link-rss {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-rss.png);
}
a[href$="/contact"],
a.link-contact,
a[href^="mailto:"],
a.email {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/email.png);
}
a.url {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/house_go.png);
}
a[href^="http://facebook.com"],
a[href^="http://www.facebook.com"],
a.link-facebook {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-facebook.png);
}
a[href^="http://twitter.com"],
a[href^="http://www.twitter.com"],
a.link-twitter {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-twitter.png);
}
a[href^="http://youtube.com"],
a[href^="http://www.youtube.com"],
a.link-youtube {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-youtube.png);
}
a[href^="http://linkedin.com"],
a[href^="http://www.linkedin.com"],
a.link-linkedin {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-linkedin.png);
}
.node_read_more a[href^="/blog"] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/eye.png);
}
.comment_comments a[href$="#comments"] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/comments.png);
}
.comment_add a[href^="/comment"] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/comment_add.png);
}
/* Files */
a[href$='.pdf'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/page_white_acrobat.png);
}
a[href$='.doc'],
a[href$='.docx'],
a[href$='.odt'],
a[href$='.rtf'],
a[href$='.swx'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/page_white_word.png);
}
a[href$='.xls'],
a[href$='.xlsx'],
a[href$='.csv'],
a[href$='.tsv'],
a[href$='.tab'],
a[href$='.123'],
a[href$='.ods'],
a[href$='.sxc'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/page_white_excel.png);
}
a[href$='.ppt'],
a[href$='.pps'],
a[href$='.pptx'],
a[href$='.key'],
a[href$='.keynote'],
a[href$='.odp'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/page_white_powerpoint.png);
}
a[href$='.zip'],
a[href$='.7z'],
a[href$='.bz2'],
a[href$='.gz'],
a[href$='.tar'],
a[href$='.tgz'],
a[href$='.taz'],
a[href$='.sit'],
a[href$='.sitx'],
a[href$='.tar.gz'],
a[href$='.z'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/page_white_zip.png);
}
a[href$='.iso'],
a[href$='.dmg'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/cd.png);
}
a[href$='.accdb'],
a[href$='.db'],
a[href$='.mdb'],
a[href$='.ldb'],
a[href$='.adp'],
a[href$='.odb'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/database.png);
}
a[href$='.flv'],
a[href$='.fla'],
a[href$='.m4v'],
a[href$='.mng'],
a[href$='.mov'],
a[href$='.mp4'],
a[href$='.swf'] {
  padding: 2px 0 2px 18px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-image: url(../imgs/icons/silk/film.png);
}
/*
--------------------------
USER-SELECTABLE STYLES (Tiny-MCE)
--------------------------
*/
/* Table: plain */
table.table-plain {
  width: 100%;
  margin: 15px 0;
  border: none 0;
}
table.table-plain caption {
  margin: 0 0 10px;
  font-size: 15px;
  text-align: left;
}
table.table-plain td {
  padding: .25em .5em;
  font-size: 12px;
}
table.table-plain th {
  padding: .25em .5em;
  font-size: 11px;
  font-weight: normal;
  color: #6f6f6f;
  border-bottom: solid 1px #e6e3dc;
  text-align: left;
}
/* Typeface: serif */
p.serif-font,
li.serif-font {
  font: 13px/1.5 DroidSerif, Georgia, "Times New Roman", Times, serif;
}
/* List: no-marker */
ul.no-marker,
ol.no-marker,
ul.no-marker li,
ol.no-marker li,
li.no-marker {
  margin-left: 0;
  padding-left: 0;
  list-style: none outside none;
}
/*
--------------------------
BASIC PAGE STRUCTURE
--------------------------
*/
body {
 	background: url("../imgs/bg-page.png") repeat-x scroll left top #E6E3DC;
}

#container {
  position: relative;
  width: 960px;
  margin: 24px auto 0;
  padding: 0;
  background: #FFFFFF;
}
#header {
    background: #008fc5;
    height: 92px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 960px;
}
#logo {
  margin: 12px 0 0;
  padding: 0;
  float: left;
}
html body div.clearfix,
html body span.clearfix {
  display: block;
  float: none;
  clear: both;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  background: transparent none repeat scroll 0 0;
}
/*
--------------------------
TEXT FORMATTING (supplimental)
--------------------------
*/
h1.title-color-dark {
  color: #333333;
  background: transparent url(../imgs/bg-wht-66.png) repeat;
}
h1.title-color-light {
  color: white;
  background: transparent url(../imgs/bg-dkteal-33.png) repeat;
}
#side-column1 h3 {
  border: 0;
  color: #8ba542;
  line-height: 1.1;
}
#side-column1 ul {
  list-style: none;
}
#side-column1 li {
  margin: 0;
  padding: 5px 0;
  font-size: .7em;
  line-height: 1.4;
}
#header .byline {
  position: absolute;
  left: 0;
  bottom: 1em;
  margin: 0 0 0 86px;
  padding: 0;
  font-size: .8em;
  color: #868ea7;
}
.search-results p {
  margin: 0;
}
.search-results .search-info {
  font-size: .6em;
  color: #7f7f7f;
}
.highlight {
  background-color: yellow;
}
/* Microformats */
/*.vcard .fn,*/
.vcard .org,
.vcard .adr,
.vcard .tel,
.vcard .email,
.vcard .role,
.vcard .street-address,
.vcard .extended-address,
.vcard .country-name,
.vevent .summary,
.vevent .sessions,
.vevent .dates {
  display: block;
}
/*
--------------------------
HOME PAGE
--------------------------
*/
#ce-info,
#course-categories,
.front .content-area {
  margin: 10px 0;
  padding: 0;
}
/* Schedule Promo */
#schedule-promo {
  height: 288px;
  overflow: hidden;
  background-color: #d8d7d2;
}
#schedule-promo .node {
  margin: 0;
  padding: 10px;
}
#schedule-promo ul {
  margin: 0.5em 0;
  padding: 0;
  list-style-image: url(../imgs/bullet-crumb.png);
}
#schedule-promo p {
  font-size: .6875em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
#schedule-promo a:link,
#schedule-promo a:visited {
  color: #2a7490;
  text-decoration: none;
}
#schedule-promo a:hover {
  color: #333333;
  text-decoration: underline;
}
/* News */
#ce-info {
  background: transparent url(../imgs/bg-fpnews-4col.png) 0 0 repeat-y;
}
#news-headlines {
  padding-top: .5em;
  padding-bottom: .5em;
}
#news-headlines h2 {
  color: #8f8f8f;
  font-size: 1em;
  line-height: 1;
}
#news-headlines .views-field-field-ig-1-fid {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
}
#news-headlines .views-field-created {
  font-size: .75em;
  color: #6f6f6f;
}
#news-headlines .views-field-body {
  line-height: 1.3;
}
#news-headlines .view-footer {
  clear: both;
  padding-right: 1em;
  text-align: right;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.66)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 100%);
}
#news-headlines .view-footer a {
  font-size: .6875em;
}
#news-headlines .view-footer a:link,
#news-headlines .view-footer a:visited {
  color: #2a7490;
  text-decoration: none;
}
#news-headlines .view-footer a:hover {
  color: #222222;
  text-decoration: underline;
}
#latest-articles .views-row {
  position: relative;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  overflow: hidden;
}
#latest-articles .views-row-first {
  margin-left: 0;
}
#latest-articles .views-row-last {
  margin-right: 0;
}
#latest-articles .views-field-title a:link,
#latest-articles .views-field-title a:visited {
  color: #2a7490;
  text-decoration: none;
}
#latest-articles .views-field-title a:hover {
  color: #222222;
  text-decoration: underline;
}
/* Course Changes */
#course-changes .view-empty {
  color: #afafaf;
  font-size: .6785em;
}
#course-changes .item-list ul {
  list-style-image: url(../imgs/bullet-crumb.png);
}
#course-changes .item-list li {
  font-size: .75em;
}
#course-changes a:link,
#course-changes a:visited {
  color: #b94c26;
  text-decoration: none;
}
#course-changes a:hover {
  color: #333333;
  text-decoration: underline;
}
/* NSCC indicia */
#nscc-indicia {
  position: relative;
  display: block;
  clear: both;
  height: 65px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#nscc-indicia .glir {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../imgs/btn-sprite.png) no-repeat;
}
#nscc-indicia:link .glir,
#nscc-indicia:visited .glir {
  background-position: left -399px;
}
#nscc-indicia:hover .glir {
  background-position: left -465px;
}
#ce-contacts {
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.2;
}
/* Social network links */
#college-info .social-networks-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#college-info .social-networks-list li {
  display: inline;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* Newsletter link */
#newsletter a {
  display: block;
  font-size: 11px;
  line-height: 2em;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  border-radius: 0.75em;
  background: #e6e3dc;
  background: -moz-linear-gradient(top, #ffffff 0%, #dce3e6 42%, #d8d5d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(42%, #dce3e6), color-stop(100%, #d8d5d0));
  background: -webkit-linear-gradient(top, #ffffff 0%, #dce3e6 42%, #d8d5d0 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #dce3e6 42%, #d8d5d0 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #dce3e6 42%, #d8d5d0 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #dce3e6 42%, #d8d5d0 100%);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}
#newsletter a:link,
#newsletter a:visited {
  color: #2a7490;
}
#newsletter a:hover {
  color: #333333;
}
/*
---------------------------
COURSE CATEGORIES
---------------------------
*/
#course-categories {
  min-height: 144px;
  background: transparent url(../imgs/bg-fpcategories.png) 10px top repeat-y;
}
#course-categories h2 {
  margin: 0.25em 0.5em;
  padding: 0;
  color: #19364c;
  font-size: 1em;
  line-height: 1;
  border: none 0;
}
#course-categories .course-category {
  display: block;
  position: relative;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}
#course-categories ul {
  margin: 0 8px;
  padding: 0;
  list-style: none outside none;
}
#course-categories li,
#new-classes-category p {
  font-size: .875em;
  line-height: 1.143;
}
#new-classes-category p {
  margin: 0.5em 0;
  padding: 0;
}
#new-classes-category a.more-link {
  font-size: .8em;
}
.categories-list {
  margin-bottom: 3em;
}
.course-category {
  display: -moz-inline-stack;
  display: inline-block;
  width: 220px;
  vertical-align: top;
}
.course-category h2 {
  margin: 1em 0 0.25em;
  padding: 0 0 0.25em;
  border-bottom: solid 1px #dcdcdc;
}
.course-category h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
}
.course-category ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.course-category li {
  margin: 0.5em 0;
  padding: 0;
  padding: 0 0 0 1.2em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../imgs/bullet-dk.png);
  font-size: 1em;
  line-height: 1;
}
.course-category a {
  display: block;
  text-decoration: none;
}
.course-category a:link,
.course-category a:visited {
  color: #2a7490;
}
.course-category a:hover {
  color: #333333;
}
/* New classes category */
.new-classes-notice {
  margin: 0;
  padding: 0.25em;
  background-color: #ba8d14;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: -1px -3px 1.5em 0 #b94c26 inset;
  -webkit-box-shadow: -1px -3px 1.5em 0 #b94c26 inset;
  box-shadow: -1px -3px 1.5em 0 #b94c26 inset;
}
.new-classes-notice p {
  margin: 0.5em 0;
  padding: 0;
  font-family: DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  color: white;
}
.new-classes-notice em {
  font-weight: bold;
}
.new-classes-notice a {
  font-size: .75em;
  text-shadow: none;
}
.new-classes-notice a:link,
.new-classes-notice a:visited {
  color: white;
  text-decoration: none;
}
.new-classes-notice a:hover {
  color: #333333;
  text-decoration: underline;
}
/*
--------------------------
BREADCRUMBS
--------------------------
*/
#breadcrumbs {
  clear: both;
  margin: 0;
  padding: 9px 0 5px 24px;
  background-color: #105c95;
}
#breadcrumbs p {
  margin: 0;
  font-size: 12px;
  line-height: inherit;
  color: #444444;
}
#breadcrumbs a:link,
#breadcrumbs a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
#breadcrumbs a:hover {
  color: #453753;
  text-decoration: none;
}
#breadcrumbs img {
  margin: 0 5px;
  vertical-align: inherit;
}
/*
--------------------------
CONTENT + COLUMNS
--------------------------
*/

a.content_image
{
		display: block;
    background: url("../imgs/content_header.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    border-bottom: 0px;
    height: 85px;
    margin-bottom: 20px;
    font-size: 0px;
}

.content-area {
  margin-top: 10px;
}
#main-column {
  margin-bottom: 10px;
}
#side-column1 {
  margin-bottom: 10px;
}
.two-sidebars .content-area {
  background: url(../imgs/bg-3col-sidebar.png) left top repeat-y scroll;
}
/*
--------------------------
NAVIGATION / SIDEBAR MENU
--------------------------
*/
.front .region-left {
  min-height: 288px;
  background-color: #dfe6f4;
}
.region-left ul.menu {
  margin: 0;
  padding: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  list-style: none;
  background-color: #D1D1D1;
}
.region-left ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.region-left ul.menu li a {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px dotted white;
}
.region-left ul.menu li a:link,
.region-left ul.menu li a:visited {
	color: #008FC5;
  text-decoration: none;
}
.region-left ul.menu li a:hover {
  text-decoration: none;
  background: none repeat scroll 0 0 #ddd;
  color: #7F7F7F;
}
.region-left ul.menu .active-trail a.active:link,
.region-left ul.menu .active-trail a.active:visited {
   background: none repeat scroll 0 0 #008fc5;
   color: #ffffff;
   text-decoration: none;
}
.region-left ul.menu .active-trail a.active:hover {
  color: #444444;
  text-decoration: none;
	background: none repeat scroll 0 0 #D1D1D1;
}
/* 2nd level */
.region-left ul.menu ul.menu {
  margin: 0;
  padding: 0;
}
.region-left ul.menu ul.menu li {
  font-size: .95em;
}
.region-left .active-trail ul {
  background-color: #d2dcef;
}
.region-left ul.menu li.active-trail ul.menu a {
  padding-left: 2em;
  /*font-size: 11px;*/

}
/* 3rd level */
.region-left .active-trail .active-trail ul.menu {
  background-color: #c1d3e9;
}
.region-left ul.menu li.active-trail li.active-trail ul.menu a {
  padding-left: 3em;
}
.region-left ul.menu ul.menu a.active:link,
.region-left ul.menu ul.menu a.active:visited {
  color: #444444;
  text-decoration: none;
  background: white;
}
.region-left ul.menu ul.menu a.active:hover {
  color: #2d628a;
  text-decoration: underline;
}
/* 4th level */
.region-left .active-trail .active-trail .active-trail ul.menu {
  background-color: #ccd5e0;
}
.region-left ul.menu li.active-trail li.active-trail li.active-trail ul.menu a {
  padding-left: 4em;
}
/*
--------------------------
BUTTONS & TABS
--------------------------
*/
img.button {
  margin: 0 0 10px 0;
}
div.tabs {
  margin: 0 0 6px;
}
a.add-course-node {
  padding-left: 12px;
  font-size: 15px;
}
a.add-course-node:link,
a.add-course-node:visited {
  color: #2a7490;
  display: block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  background-image: url(/sites/all/themes/nscc_conted/imgs/bg-footer-button.png);
  background-repeat: no-repeat;
  background-position: left top;
}
a.add-course-node:hover {
  color: white;
  display: block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  background-image: url(/sites/all/themes/nscc_conted/imgs/bg-footer-button.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
/*
--------------------------
PRIMARY LOCAL TASKS (content edit links)
--------------------------
*/
.primary-local-tasks {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 3px 0 9px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: right;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.primary-local-tasks li {
  margin: 0 0 9px;
  padding: 0;
  font-size: 12px;
  line-height: 1;
}
.primary-local-tasks li a {
  /*  margin: 0 6px 2px;*/

  padding: 2px 6px;
  border: solid 1px;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.primary-local-tasks li a:link,
.primary-local-tasks li a:visited {
  color: white;
  background-color: orange;
}
.primary-local-tasks li a:hover {
  color: orange;
  background-color: white;
}
a.edit-button {
  float: right;
  padding: 1px 4px;
  border: solid 1px;
  text-decoration: none;
}
a.edit-button:link,
a.edit-button:visited {
  color: white;
  background-color: orange;
}
a.edit-button:hover {
  color: orange;
  background-color: white;
}
/*
--------------------------
PAGER (navigation element)
--------------------------
*/
.region-main .pager {
  position: relative;
  margin: 1.5em 0;
  padding: 0;
  font-size: .75em;
  color: #9f9f9f;
}
.region-main .pager li {
  margin: 0;
  padding: 0;
}
.region-main li.pager-current {
  padding: .3em .75em;
  font-weight: normal;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #8f8f8f;
  background-color: #e6e3dc;
}
.region-main .pager a {
  padding: .3em .75em;
}
.region-main .pager a:link,
.region-main .pager a:visited {
  color: #2a7490;
  text-decoration: none;
}
.region-main .pager a:hover {
  color: #222222;
  text-decoration: underline;
}
.region-main .view ul.pager li {
  font: 12px/1 DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
}
/*
--------------------------
FOOTER
--------------------------
*/
#footer {
  margin-top: 10px;
}
#footer .block {
  margin: 0;
  padding: 0;
}
#meta-footer {
  background: url("../imgs/bg-footermeta.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  border-bottom: 10px #fff solid;
}
#meta-footer p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #FFFFFF;
  padding: 10px;
}
#meta-footer p span {
  margin: 0 10px;
  color: #868ea7;
}
#meta-footer a:link,
#meta-footer a:visited {
  color: #d7d4e3;
  text-decoration: none;
}
#meta-footer a:hover {
  color: #fff;
  text-decoration: underline;
}
/*
--------------------------
FORMS
--------------------------
*/
input.searchfield {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 222px;
  vertical-align: middle;
  float: left;
}
input.searchbutton {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  vertical-align: middle;
  display: block;
  float: left;
}
.form-item,
.form-checkboxes,
.form-radios {
  margin-top: 0;
}
.region-main fieldset {
  margin: 0 0 12px;
  padding: 12px;
  border: solid 1px #e6e3dc;
  background-color: #faf8f0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
html.js fieldset.collapsible {
  margin-bottom: 12px;
}
.region-main fieldset fieldset {
  background-color: #f0ede6;
}
.region-main fieldset fieldset fieldset {
  background-color: #dfdfd1;
}
.region-main legend {
  padding: 0 6px;
  font-size: 14px;
  color: #8f8559;
}
.region-main fieldset .description {
  margin: 0 0 12px;
  font-size: 12px;
}
.region-main .form-item label {
  margin-bottom: 3px;
  font-size: 11px;
}
.region-main .form-item .description,
.region-main .form-item .description p,
.region-main .form-item .description li {
  margin-top: 3px;
  font-size: 10px;
  color: #5f5f5f;
}
.region-main .form-item .description li {
  padding: 0 0 3px;
  line-height: 1.1;
}
form .tips {
  list-style: none;
  margin: 0;
  padding: 0;
}
form .tips li {
  margin: 0;
  padding: 0 0 3px;
  font-size: 10px;
  line-height: 14px;
  color: #5f5f5f;
}
.teaser-checkbox div.form-item {
  margin: 0;
}
.wysiwyg-toggle-wrapper {
  float: right;
  font-size: 10px;
}
/* Login form (page) */
.region-main #user-login .netid_help {
  margin: 24px 0;
  padding: 12px;
  background-color: #dee5c8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* Multiselect Module Overrides */
#multiselect_btns .multiselect_add a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/add.png) no-repeat;
  background-position: 0 0;
}
#multiselect_btns .multiselect_remove a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/remove.png) no-repeat;
  background-position: 0 0;
}
/*
--------------------------
TOOLBOX
--------------------------
*/
#toolbox {
  position: absolute;
  top: 0;
  right: 0;
  float: none;
  z-index: 1000;
  width: 360px;
  max-height: 72px;
  margin: -17px 0 0;
  padding: 6px 12px;
  overflow: hidden;
  background: url("../imgs/bg-toolbox.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
}
#toolbox:hover {
  max-height: none;
  overflow: visible;
}
#toolbox .block {
  display: block;
  clear: both;
  float: none;
  margin: 0;
}
#toolbox h2 {
  margin: 0;
  font: 12px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#toolbox a:link,
#toolbox a:visited {
  color: #8fb2bf;
  text-decoration: none;
  background-image: none;
}
#toolbox a:hover {
  color: white;
}
#toolbox ul {
  list-style: none;
  margin: 0 0 0 -6px;
  /* a padding - aligns ul w/ search-box */

  padding: 0;
  font: 12px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#toolbox .menu li {
  display: inline;
  /*	display: block;
	float: left;*/

  margin: 0;
  padding: 0;
  border-left: dotted 1px #45656f;
  font: 12px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#toolbox li a {
  padding: 3px 6px 0;
}
#toolbox li.first {
  border: 0;
}
/* Global Search Form */
#toolbox .block-search,
#toolbox #block-nscc-10 {
  padding: 0;
}
#toolbox #search-block-form label,
#toolbox #nscc-search-block-form label {
  position: absolute;
  left: -9999em;
}
#toolbox #search-block-form .form-text,
#toolbox #nscc-search-block-form .form-text {
  float: left;
  width: 260px;
  margin: 0 9px 3px 0;
}
#toolbox .messages {
  margin: 0 0 6px;
  padding: 6px 0 6px 36px;
  font-size: 12px;
  line-height: 14px;
}
#toolbox .messages li {
  line-height: 14px;
  margin: 0;
  padding: 0 0 3px;
}
#toolbox .messages ul {
  margin: 0;
}
#toolbox .messages li a {
  padding: 0;
}
#toolbox input.searchbutton,
#toolbox input.form-submit {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
/* Login/Logout */
#block-nscc-1 {
  position: relative;
  margin: 0;
  padding: 10px;
}
#user-login-form {
  position: absolute;
  top: -11px;
  left: 320px;
  width: 320px;
  margin: 0;
  padding: 6px 12px;
  text-align: left;
  color: #2c394f;
  background-color: #9b9bb5;
  background-color: rgba(56, 56, 108, 0.6);
  z-index: 999 !important;
}
#user-login-form .form-item {
  float: left;
  margin: 0 9px 3px 0;
}
#user-login-form label {
  display: block;
  float: left;
  width: 84px;
  font-size: 14px;
  font-weight: normal;
  color: #262f2e;
}
#user-login-form .form-text {
  width: 156px;
}
#user-login-form a:link,
#user-login-form a:visited {
  color: #ffffff;
  text-decoration: none;
}
#user-login-form a:hover,
#user-login-form .messages a {
  color: #222222;
}
#user-login-form .netid_help {
  position: relative;
  clear: both;
  padding-top: 6px;
}
#user-login-form .netid_help h3 {
  position: absolute;
  font: normal 13px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #262f2e;
}
#user-login-form .netid_help p {
  margin: 0 0 6px 96px;
  font-size: 11px;
  line-height: 1;
  color: #262f2e;
}
/* Site-Specific Tools */
#block-nscc-3 {
  position: relative;
  clear: both;
  margin: 0;
  padding: 0;
}
#block-nscc-3 h2 {
  position: absolute;
  left: -9999em;
}
#block-nscc-3 ul {
  margin: 0;
}
#block-nscc-3 ul.menu li {
  display: block;
  float: left;
}
#block-nscc-3 ul.menu li li {
  display: block;
  clear: both;
  margin-left: 15px;
}
#block-nscc-3 ul.menu li ul.menu li {
  border-left: solid 1px #45656f;
}
#block-nscc-3 ul.menu li ul.menu li a {
  font-size: 10px;
}
/*
--------------------------
HYPERLINK ENHANCEMENTS EXCLUSIONS (see tiny-mce styles)
--------------------------
*/
.block-menu a,
.feeds a,
.form-item a,
#meta-footer a,
.slide a,
.node-type-schedule-promo a {
  padding: 0;
  background: none;
}
/*
--------------------------
NODES
--------------------------
*/
.node .meta {
  font-size: 10px;
  font-size: .75rem;
  color: #8f8f8f;
}
.meta dt {
  float: left;
  margin-right: .5em;
}
.meta dt:after {
  content: ':';
}
.meta dd {
  display: inline;
  margin: 0 .25em;
}
.node ul.links,
.node ul.links li {
  margin: 0;
  font-size: 10px;
}
.node ul.links li {
  display: inline;
  display: inline-block;
}
.node ul.links li a {
  display: block;
  text-decoration: none;
}
.node ul.links li.first {
  padding-left: 0;
}
.node ul.links li.last {
  padding-right: 0;
}
/* Sidebar pseudoblocks */
.block.vcard,
.block.enrollment-info {
  margin: 0 10px 0 0;
  padding: 10px 0;
  border-top: solid 1px #dcdcf0;
  font-size: 11px;
}
.block.enrollment-info ul {
  margin: 0;
  padding: 0;
}
#side-column1 .node {
  margin: 0 10px 0 0;
  padding: 10px 0;
}
/*
--------------------------
INSTRUCTOR BIO PAGES (node)
--------------------------
*/
.instructor-photo {
  float: right;
  margin: 0 0 10px 20px;
}
/*
--------------------------
COURSES
--------------------------
*/
.courses {
  margin: 0;
  padding: 1em 0 0;
}
.course-schedule-info {
  margin: 1em 0;
  padding: 0 1em;
  border: solid 1px #d8d7d2;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 45%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(45%, #f6f6f6), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ededed 0%, #f6f6f6 45%, #ffffff 100%);
  background: -o-linear-gradient(top, #ededed 0%, #f6f6f6 45%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #f6f6f6 45%, #ffffff 100%);
  background: linear-gradient(to bottom, #ededed 0%, #f6f6f6 45%, #ffffff 100%);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.course-schedule-info h3 {
  margin: 0.5em 0;
  padding: 0;
}
.course-schedule-info h3 a:link,
.course-schedule-info h3 a:visited {
  color: #2a7490;
  text-decoration: none;
}
.course-schedule-info h3 a:hover {
  color: #333333;
  text-decoration: underline;
}
.course-schedule-info p {
  font-size: .8em;
  line-height: 1.2;
  color: #595959;
}
/* Class/Section Details */
.course-sections {
  margin: 1em 0;
  padding: 0 0.5em;
}
.course-sections .vevent {
  margin: 0.5em 0;
  padding: 0 0 0 15px;
  line-height: 1;
  background: transparent url(../imgs/bullet-crumb.png) 0 0 no-repeat;
}
.course-sections .vevent span {
  display: inline;
  line-height: 1.25;
}
.class-change-notice {
  font-size: .875em;
  line-height: 1.2;
  color: #b94c26;
}
.class-section .vcard,
.class-note {
  margin: 0.5em 0;
  padding: 0;
  font-size: .8em;
}
/* Enroll CTA Button */
.course-schedule-info a.enroll-link {
  display: block;
  width: 110px;
  height: 32px;
  margin: 1em 0;
  padding: 0 10px;
  line-height: 32px;
  text-decoration: none;
  background: transparent url(../imgs/bg-footer-button.png) no-repeat;
}
.course-schedule-info a.enroll-link:link,
.course-schedule-info a.enroll-link:visited {
  color: #2a7490;
  background-position: 0 0;
}
.course-schedule-info a.enroll-link:hover {
  color: #fffffa;
  background-position: 0 100%;
}
/* Sidebar Formatting */
.sidebar-profile + .sidebar-profile {
  margin-top: 1em;
  padding-top: 1em;
  border-top: dotted 3px #dcdcdc;
}
.sidebar-profile .instructor-photo {
  float: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}
.sidebar-profile .bio p {
  font-size: .75em;
  line-height: 1.333;
  color: #595959;
}
#side-column1 .scheduled-classes {
  margin-bottom: 2em;
}
#side-column1 .scheduled-classes .vevent {
  margin-bottom: 1em;
  padding: 1em;
  font-size: .9em;
  line-height: 1.5;
  color: white;
  background-color: #8ba542;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: -0.15em -0.25em 1em 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: -0.15em -0.25em 1em 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: -0.15em -0.25em 1em 0 rgba(0, 0, 0, 0.5) inset;
}
#side-column1 .scheduled-classes .vevent .summary {
  position: absolute;
  left: -9999em;
}
/*
--------------------------
COURSE LISTINGS	
--------------------------
*/
.category-course-list .course {
  margin-bottom: 1.5em;
}
.course .more-link {
  font-size: .8em;
  padding-left: 1.25em;
}
.category-course-list h2 a:link,
.category-course-list h2 a:visited {
  color: #2a7490;
  text-decoration: none;
}
.category-course-list h2 a:hover {
  color: #333333;
  text-decoration: underline;
}
/* Teaser tooltips */
.category-course-list .tooltip {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0.5em;
  -moz-box-shadow: 1px 2px 1em 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 1em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 1em 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: .875em;
  background-color: #ffffdb;
}
/*
--------------------------
BLOCKS
--------------------------
*/
/*	Enroll Now CTA	*/
#block-block-2 {
  margin-bottom: 0;
}
#block-block-2 .content p {
  font-size: 13px;
}
#enroll-button {
  position: relative;
  display: block;
  height: 58px;
  margin: 0;
  padding: 0;
}
#enroll-button .glir {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../imgs/btn-sprite.png) no-repeat;
}
#enroll-button:link .glir,
#enroll-button:visited .glir {
  background-position: left top;
}
#enroll-button:hover .glir {
  background-position: left -60px;
}
/*	Browse Courses CTA	*/
#block-block-4 {
  margin-bottom: 0;
}
#block-block-4 .content p {
  font-size: .75em;
  line-height: 1.333;
}
.front #block-block-4 .content p:first-child {
  position: absolute;
  left: -9999em;
}
#browse-button {
  position: relative;
  display: block;
  height: 58px;
  margin: 0;
  padding: 0;
}
#browse-button .glir {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../imgs/btn-sprite.png) no-repeat;
}
#browse-button:link .glir,
#browse-button:visited .glir {
  background-position: left -281px;
}
#browse-button:hover .glir {
  background-position: left -340px;
}
/*	Course Categories	*/
#block-nscc_continuinged-0 {
  margin-bottom: 0;
}
/*	Temporary Construction Notice	*/
#block-block-3 {
  margin-bottom: 0;
}
/*	Newsletter signup */
#block-nscc_continuinged-1 .content {
  padding: 1em;
  background: #faf8f0;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: -0.1em -0.1em 0.5em 0 rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: -0.1em -0.1em 0.5em 0 rgba(0, 0, 0, 0.6) inset;
  box-shadow: -0.1em -0.1em 0.5em 0 rgba(0, 0, 0, 0.6) inset;
}
#block-nscc_continuinged-1 p {
  margin: 0 0 1em;
  padding: 0;
  font-size: 12px;
  font-size: .75rem;
}
#block-nscc_continuinged-1 label {
  display: block;
  margin: 1em 0;
  font-size: .75em;
  color: #6f6f6f;
}
#block-nscc_continuinged-1 input {
  display: block;
}
#block-nscc_continuinged-1 .input-email {
  padding: .25em;
  border: solid 1px #868ea7;
  font-size: 16px;
  font-size: 1rem;
}
#block-nscc_continuinged-1 .btn-submit {
  font-size: 16px;
  font-size: 1rem;
  color: white;
  border: solid 1px #8ba542;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #b5c950;
  background: -moz-linear-gradient(top, #b5c950 0%, #96a845 50%, #6b931f 51%, #8ba542 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5c950), color-stop(50%, #96a845), color-stop(51%, #6b931f), color-stop(100%, #8ba542));
  background: -webkit-linear-gradient(top, #b5c950 0%, #96a845 50%, #6b931f 51%, #8ba542 100%);
  background: -o-linear-gradient(top, #b5c950 0%, #96a845 50%, #6b931f 51%, #8ba542 100%);
  background: -ms-linear-gradient(top, #b5c950 0%, #96a845 50%, #6b931f 51%, #8ba542 100%);
  background: linear-gradient(to bottom, #b5c950 0%, #96a845 50%, #6b931f 51%, #8ba542 100%);
  text-shadow: 1px 1px #333333;
  cursor: pointer;
}
#block-nscc_continuinged-2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
#newsletter {
  margin: 0;
  padding: 0;
}
#block-nscc_continuinged-2 p,
#newsletter p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-size: .75rem;
}
#newsletter-cta {
  position: relative;
  display: block;
  height: 54px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#newsletter-cta .glir {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../imgs/btn-sprite.png) no-repeat;
}
#newsletter-cta:link .glir,
#newsletter-cta:visited .glir {
  background-position: left -530px;
}
#newsletter-cta:hover .glir {
  background-position: left -585px;
}
/*
--------------------------
FEEDS & FEED ICONS
--------------------------
*/
.region-main #content-title .feeds {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 0 6px 6px;
}
.region-main .feeds {
  margin: 12px;
}
.region-main .feeds,
.region-main .feeds p {
  font-size: 12px;
  text-align: right;
  color: #8f8559;
}
.region-main .feeds p img {
  vertical-align: bottom;
}
/*
--------------------------
STORY (nodes & lists)
--------------------------
*/
.section-blog .view-blog-archive .views-row {
  margin: 1em 0;
  padding: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0 -0.1em 0.25em 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 -0.1em 0.25em 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -0.1em 0.25em 0 rgba(0, 0, 0, 0.5) inset;
  background: #fffffa;
  background: -moz-linear-gradient(top, #fffffa 0%, #faf8f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffffa), color-stop(100%, #faf8f0));
  background: -webkit-linear-gradient(top, #fffffa 0%, #faf8f0 100%);
  background: -o-linear-gradient(top, #fffffa 0%, #faf8f0 100%);
  background: -ms-linear-gradient(top, #fffffa 0%, #faf8f0 100%);
  background: linear-gradient(to bottom, #fffffa 0%, #faf8f0 100%);
}
.section-blog .view-blog-archive .node-teaser {
  margin: 0;
  padding: 0;
}
.node-teaser h2 a {
  text-decoration: none;
}
/*
--------------------------
COMMENTS
--------------------------
*/
#comments h2 {
  color: #8f8559;
}
.comment {
  position: relative;
  margin: 0 12px 12px;
  padding: 6px;
  background-color: #f0ede6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.comment-unpublished {
  background-color: #fce8f4;
}
.comment p,
.comment li {
  font-size: 12px;
}
.comment-inner .content p,
.comment-inner .content li {
  font: normal 14px/18px DroidSerif, Georgia, "Times New Roman", Times, serif;
}
.comment .new,
.comment .unpublished {
  display: block;
  float: right;
  margin: 0 0 6px 6px;
  padding: 3px;
  font-weight: bold;
  color: #64bf00;
}
.comment .unpublished {
  color: #bc0074;
}
.comment h3 {
  font-size: 14px;
}
.comment .submitted {
  margin-bottom: 12px;
  font-size: 10px;
  color: #6f6f6f;
}
.comment .user-signature p {
  margin: 12px 12px 0;
  color: #9f9c95;
  font-size: 11px;
  font-style: italic;
  text-align: right;
}
.comment ul.links,
.comment ul.links li {
  margin: 0;
  font-size: 10px;
}
.comment ul.links li.first {
  padding-left: 0;
}
.comment ul.links li.last {
  padding-right: 0;
}
#comment-form {
  padding: 12px;
  border: solid 1px #efeae0;
  background-color: #fffffa;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#comment-form .comment {
  margin-top: 12px;
}
/*
--------------------------
BOOKS
--------------------------
*/
.book-navigation {
  margin: 30px 0;
  /*
	border-top: solid 1px @color-pg-bg;
	border-bottom: solid 1px @color-pg-bg;
*/

}
.book-navigation .menu {
  margin: 0;
  padding: 18px 0 18px 30px;
  border-color: #e6e3dc;
}
.node-type-book .book-navigation li {
  font: 14px/1.2 DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
  padding: 3px 0;
}
.node-type-book .book-navigation a:link,
.node-type-book .book-navigation a:visited {
  text-decoration: none;
}
.node-type-book .book-navigation a:hover {
  text-decoration: underline;
}
.book-navigation .page-links {
  font-size: 14px;
  border-color: #e6e3dc;
  /*  border-bottom: 0;*/

  line-height: 1.1;
}
.book-navigation .page-links a:link,
.book-navigation .page-links a:visited {
  color: #b94c26;
  text-decoration: none;
}
.book-navigation .page-links a:hover {
  text-decoration: underline;
  color: #444444;
}
/*
--------------------------
OVERLAYS & FLYOUTS	
--------------------------
*/
#fade-background {
  position: absolute;
  z-index: 98999;
  top: 0;
  left: 0;
  background: url(../imgs/bg-blk-50.png);
}
.overlay-flyout {
  display: none;
  width: 480px;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  left: 80px;
  z-index: 99000;
  padding: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 0 90px 5px #000000 0 0 0 #000000;
  -webkit-box-shadow: 0 0 90px 5px #000000 0 0 0 #000000;
  box-shadow: 0 0 90px 5px #000000 0 0 0 #000000;
}
.course-info-flyout .course-credits {
  font-size: 15px;
  line-height: 20px;
}
/*
-----------------------------
FRONT PAGE SLIDES
-----------------------------
*/
.slide {
  position: relative;
  width: 520px;
  height: 288px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cfcbc2;
}
.slide a {
  text-decoration: none;
}
.slide-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  width: 160px;
  height: 288px;
  margin: 0;
  padding: 10px 10px 0 50px;
  color: #ffffff;
}
.slide-content h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  color: #ffffff;
}
.slide-content p {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
/*
-----------------------------
SLIDESHOW
-----------------------------
*/
.views-slideshow-controls-bottom,
.views-slideshow-controls-top {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin-right: 185px;
  z-index: 100;
}
.views_slideshow_singleframe_pager {
  /*	suppressed to demonstrate too many slides in rotation | vellines 10-DEC-2012
	width: 480px;
	overflow: hidden;
	*/

}
.views_slideshow_singleframe_pager .pager-item {
  display: block;
  float: left;
  width: 1.5em;
  margin: 3px 2px;
  padding: 0;
  font-size: 10px;
  line-height: 1;
}
.views_slideshow_singleframe_pager .last {
  margin-right: 5px;
}
.views_slideshow_singleframe_pager .pager-item a {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.views_slideshow_singleframe_pager .pager-item a:link,
.views_slideshow_singleframe_pager .pager-item a:visited {
  color: rgba(51, 51, 51, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
}
.views_slideshow_singleframe_pager .pager-item a.activeSlide {
  color: rgba(185, 76, 38, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
}
/*
--------------------------
CAMPUS ALERTS & ANNOUNCEMENTS	
--------------------------
*/
#campus-alert {
  margin: 10px;
  color: black;
}
#campus-alert .announcement {
  max-height: 144px;
  margin: 10px 0;
  padding: 0 40px;
  overflow: auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3) 0 0 0 #000000;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3) 0 0 0 #000000;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3) 0 0 0 #000000;
}
.announcement p {
  font: normal 15px/1.5 DroidSerif, Georgia, "Times New Roman", Times, serif;
}
.announcement .meta {
  font: 10px/1 DejaVuSansBook, "Lucida Grande", Tahoma, Arial, sans-serif;
  color: #7f7f7f;
}
.snow-announcement {
  border: solid 1px #a4d4ef;
  background: url(/sites/all/themes/nscc_960/imgs/bg-snow-announcement.png) transparent left top no-repeat;
}
.mechanical-announcement {
  border: solid 1px #af8c62;
  background: url(/sites/all/themes/nscc_960/imgs/bg-mechanical-announcement.png) transparent left top no-repeat;
}
.earthquake-announcement {
  border: solid 1px #9f9f9f;
  background: url(/sites/all/themes/nscc_960/imgs/bg-earthquake-announcement.png) transparent left top no-repeat;
}
.emergency-announcement {
  border: solid 1px #ff0000;
  background: url(../imgs/bg-emergency-announcement.png) transparent left top no-repeat;
}
.unexpected-announcement {
  border: solid 1px #ce001b;
  background: url(../imgs/bg-unexpected-announcement.png) transparent left top no-repeat;
}
/*	Editor UI	*/
.announcements-list th {
  padding: 3px;
  font-size: 11px;
  font-weight: normal;
  color: #7f7f7f;
}
.announcements-list td {
  padding: 3px;
  border-top: solid 1px #dcdcdc;
  line-height: 1.2;
}
.announcements-list tr.expired {
  color: #afafaf;
}
