{% set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'clearfix',
] %}

<article id="events" class="container-fluid sc-single-column-text">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</article>
<div class="parallax51"></div>


