{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'clearfix',
]
%}
<article id="history" class="container-fluid sc-negative-space sc-single-column-text sc-interior-page-top">
    <div class="row">
        <div class="col-md-12">
            <h1> {{  label }}</h1>
            {{  content['body'] }}
        </div>
    </div>
</article>
<div class="parallax53"></div>

