{% set heading_id = attributes.id ~ '-menu'|clean_id %}

<!-- Use any element to open/show the overlay navigation menu -->
<div>
    <div id="50thNav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% block content %}
                {{ content }}
            {% endblock %}
        </ul>
    </div>
</div>
