<div class="bg-white" xmlns="http://www.w3.org/1999/html">
    <article id="tagboard" class="container-fluid sc-negative-space">
        <header>
            <h2 class="sc-title-heading">#SeattleCentral50</h2>
        </header>
        <div class="tagboard-embed" tgb-slug="SeattleCentral50/316614" tgb-post-count="10" tgb-mobile-count="10"></div>
        <script src="https://static.tagboard.com/public/js/embed.js"></script>
    </article>

    <article id="guestbook" class="container-fluid sc-negative-space sc-single-column-text sc-interior-page-top">
        <header>
            <h2 class="sc-title-heading">{{ label }}</h2>
        </header>
        <div class="row">
            <div class="col-md-12">
                {{ content['field_guestbook_comments'] }}
            </div>
        </div>
        {{ content['field_guestboook'] }}
    </article>
</div>
<div class="parallax54"></div>