{% set size =  content['field_history_image']['#items']|length - 1 %}
<div class="carousel-inner" role="listbox">
    {% for index in 0..size %}
    {% if index == 0 %}
    <div class="item active">
        {% else %}
        <div class="item">
            {% endif %}
            <img src="{{ file_url(content['field_history_image']['#object'].field_history_image[index].entity.uri.value) }}"
                 alt="{{ content['field_history_image']['#object'].field_history_image[index].alt }}"/>
            <div class="carousel-caption">
                <div class="card-single bg-white">
                    <p>{{ content['field_history_image']['#object'].field_history_image[index].alt }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

