.parallax-healthcare-services {
    /* The image used */
    background-image: url("../alliedhealth-images/healthcare-services-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-community-health {
    /* The image used */
    background-image: url("../alliedhealth-images/community-education-seattle-central-health-education-center.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-opticianry {
    /* The image used */
    background-image: url("../alliedhealth-images/opticianry-students-at-seattle-central-college.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-central-supply-processing {
    /* The image used */
    background-image: url("../alliedhealth-images/central-supply-processing-student-seattle-central-college.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-respiratory-care {
    /* The image used */
    background-image: url("../alliedhealth-images/respiratory-care-faculty-at-seattle-central-college.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-surgical-technology {
    /* The image used */
    background-image: url("../alliedhealth-images/surgical-technology-class-at-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-dental-hygiene {
    /* The image used */
    background-image: url("../alliedhealth-images/dental-education-clinic-at-seattle-central-health-education-center-at-pacific-tower.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-nursing-assistant {
    /* The image used */
    background-image: url("../alliedhealth-images/nursing-student-at-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-nursing {
    /* The image used */
    background-image: url("../alliedhealth-images/nursing-student-training-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-allied-health {
    /* The image used */
    background-image: url("../alliedhealth-images/allied-health-class-at-seattle-central-college.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-top {
    /* The image used */
    background-image: url("../alliedhealth-images/surgical-technology-students-at-seattle-central-health-education-center.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1024px) {
    .parallax-healthcare-services,
    .parallax-community-health,
    .parallax-opticianry,
    .parallax-central-supply-processing,
    .parallax-respiratory-care,
    .parallax-surgical-technology,
    .parallax-dental-hygiene,
    .parallax-nursing-assistant,
    .parallax-nursing, 
    .parallax-allied-health, 
    .parallax-top {
        height: 420px;
        background-attachment: inherit;
    }

}

@media only screen and (max-width: 767px) {
    .parallax-healthcare-services,
    .parallax-community-health,
    .parallax-opticianry,
    .parallax-central-supply-processing,
    .parallax-respiratory-care,
    .parallax-surgical-technology,
    .parallax-dental-hygiene,
    .parallax-nursing-assistant,
    .parallax-nursing, 
    .parallax-allied-health, 
    .parallax-top {
        height: 360px;
    }
}

@media only screen and (max-width: 600px) {
    .parallax-healthcare-services,
    .parallax-community-health,
    .parallax-opticianry,
    .parallax-central-supply-processing,
    .parallax-respiratory-care,
    .parallax-surgical-technology,
    .parallax-dental-hygiene,
    .parallax-nursing-assistant,
    .parallax-nursing, 
    .parallax-allied-health, 
    .parallax-top {
        height: 320px;
    }
}

@media only screen and (max-width: 450px) {
    .parallax-healthcare-services,
    .parallax-community-health,
    .parallax-opticianry,
    .parallax-central-supply-processing,
    .parallax-respiratory-care,
    .parallax-surgical-technology,
    .parallax-dental-hygiene,
    .parallax-nursing-assistant,
    .parallax-nursing, 
    .parallax-allied-health, 
    .parallax-top {
        height: 250px;
    }
}