/*  Progress tabs */

#block-nscc_orientation-1 {

}

.tab .status-icon {
	position: absolute;
	bottom: 10px;
	right: -18px;
}

div.progress-tabs {
	display: block;
	clear: both;
	margin: 20px 0;
}

div.progress-tabs ul li a:link,
div.progress-tabs ul li a:visited { color: rgb(42, 116, 144); }

div.progress-tabs ul li a:hover { color: rgb(51, 51, 51); }

div.progress-tabs ul li.active a:link,
div.progress-tabs ul li.active a:visited,
div.progress-tabs ul li.active a:hover { color: rgb(51, 51, 51); }

div.progress-tabs ul li.completed a:link,
div.progress-tabs ul li.completed a:visited { color: rgb(119, 119, 119); }

div.progress-tabs ul li.completed a:hover { color: rgb(153, 153, 153); }



/* SID tracker form */

#-nscc-orientation-sid-form {}

#-nscc-orientation-sid-form .no-show {
	display: none;
	clear: both;
}

#-nscc-orientation-sid-form .show {
	display: block;
	clear: both;
}

#-nscc-orientation-sid-form .show span {
	display: block;
	float: left;
	max-width: 470px;
	padding-right: 10px;
}

#-nscc-orientation-sid-form label {
	display: block;
	float: left;
}

#-nscc-orientation-sid-form .show label span {
	display: inline;
	float: none;
	padding-right: 4px;
}

#-nscc-orientation-sid-form input {
	display: block;
	float: left;
	margin-right: 10px;
}

/*Luv Sharma*/
#-nscc-orientation-sid-form {
	display: none !important;
}
/*Luv Sharma*/

/* Topics */

.orientation-topic {
	display: block;
	clear: right;
	/*margin: 6px 0;*/
	padding: 4px 0;
}

.orientation-topic-title {
	margin: 0;
	padding: 3px 0 3px 15px;
	cursor: pointer;
	background: rgb(211, 227, 234) url(/sites/all/themes/nscc_960/imgs/bullet-links-down.png) left -42px no-repeat scroll;
	color: rgb(51, 51, 51);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.orientation-topic-title:hover {
	background-position: left 8px;
	color: rgb(42, 116, 144);
}

.orientation-topic.collapsed h2 {
	background: rgb(245, 245, 245) url(/sites/all/themes/nscc_960/imgs/bullet-links-right.png) left 7px no-repeat scroll;
	color: rgb(42, 116, 144);
}

.orientation-topic.collapsed h2:hover {
	background-position: left -42px;
	color: rgb(51, 51, 51);
	background-color: rgb(211, 227, 234);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block-nscc_orientation span.tab {
	position: relative;
	z-index: 100;
}

.orientation-topic-content {
	margin: 0;
	padding: 10px;
}

.orientation-topic-copy { width: 440px; }

.orientation-topic-copy p,
.orientation-topic-copy li {
	margin-bottom: 10px;
}



/* Supplimental Media */

.orientation-topic-media {
	float: right;
	width: 460px;
	margin: 0 0 10px 10px;
}

.video-wrapper h2 {
	position: absolute;
	left: -9999em;
}

video {
	display: block;
	background-color: #000;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.node p.video-download-links {
	margin: 6px 10px;
	padding: 0;
	font-size: 11px;
	line-height: 1.4;
	color: rgb(127, 127, 127);
}



/* Related Links */

.orientation-related-links {
	display: block;
	clear: both;
	padding: 10px;
	background-color: rgb(240, 245, 250);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.related-links-list {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	-ms-column-count: 3;
	column-count: 3;
}



/* Quiz */

#block-nscc_orientation-2 { clear: both; }

.quizzer {
	position: relative;
	padding: 10px;
	border-radius: 10px;
/*
	background: rgb(232,232,232);
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(232,232,232,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1)));
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 50%,rgba(232,232,232,1) 100%);
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 50%,rgba(232,232,232,1) 100%);
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 50%,rgba(232,232,232,1) 100%);
	background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 50%,rgba(232,232,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 );
*/
background: rgb(218,226,179);
background: -moz-linear-gradient(top, rgb(218,226,179) 0%, rgb(252,255,221) 25%, rgb(252,255,221) 75%, rgb(218,226,179) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(218,226,179)), color-stop(25%,rgb(252,255,221)), color-stop(75%,rgb(252,255,221)), color-stop(100%,rgb(218,226,179)));
background: -webkit-linear-gradient(top, rgb(218,226,179) 0%,rgb(252,255,221) 25%,rgb(252,255,221) 75%,rgb(218,226,179) 100%);
background: -o-linear-gradient(top, rgb(218,226,179) 0%,rgb(252,255,221) 25%,rgb(252,255,221) 75%,rgb(218,226,179) 100%);
background: -ms-linear-gradient(top, rgb(218,226,179) 0%,rgb(252,255,221) 25%,rgb(252,255,221) 75%,rgb(218,226,179) 100%);
background: linear-gradient(to bottom, rgb(218,226,179) 0%,rgb(252,255,221) 25%,rgb(252,255,221) 75%,rgb(218,226,179) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae2b3', endColorstr='#dae2b3',GradientType=0 );
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.quizzer .quiz-question {
	float: left;
	width: 450px;
}

.quizzer .completed {}

.quizzer .completed-question { color: rgb(102, 102, 102); }

.quizzer .completed-answer {
	margin: 0;
	padding: 0 0 0 20px;
	font-weight: bold;
	color: rgb(92, 163, 83);
	background: url(/sites/all/themes/nscc_960/imgs/icons/silk/tick.png) left 50% no-repeat scroll transparent;
}

.quizzer .achievement {
	margin: 0 0 0 540px;
	padding: 10px;
	line-height: 1.2;
	text-align: center;
}

.quizzer .quiz-incomplete {
	font-size: 15px;
	color: rgb(102, 102, 102);
}

.quizzer .quiz-complete {
	border: solid 1px rgba(0, 0, 0, 0.2);
	border-radius: 24px;
	font-size: 18px;
	color: white;
	background: rgb(92, 163, 83);
	background: -moz-linear-gradient(top, rgba(154,198,129,1) 0%, rgba(92,163,83,1) 50%, rgba(124,186,93,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,198,129,1)), color-stop(50%,rgba(92,163,83,1)), color-stop(100%,rgba(124,186,93,1)));
	background: -webkit-linear-gradient(top, rgba(154,198,129,1) 0%,rgba(92,163,83,1) 50%,rgba(124,186,93,1) 100%);
	background: -o-linear-gradient(top, rgba(154,198,129,1) 0%,rgba(92,163,83,1) 50%,rgba(124,186,93,1) 100%);
	background: -ms-linear-gradient(top, rgba(154,198,129,1) 0%,rgba(92,163,83,1) 50%,rgba(124,186,93,1) 100%);
	background: linear-gradient(to bottom, rgba(154,198,129,1) 0%,rgba(92,163,83,1) 50%,rgba(124,186,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac681', endColorstr='#7cba5d',GradientType=0 );
	-moz-box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-o-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-ms-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}