form#-nscc-disability-services-request-form div.nscc-disabilites-services-request-interpreting div.form-item {
	float: left;
	margin: 1em .5em;
}
form#-nscc-disability-services-request-form div.description {
	clear: both;
}

form#-nscc-disability-services-request-form div.nscc-disabilites-services-request-class-equipment div.form-item {
	float: left;
	margin: 1em .5em;
}
form#-nscc-disability-services-request-form div.nscc-disabilites-services-request-class-equipment-float-clear {
	clear: both;
}
form#-nscc-disability-services-request-form span.nscc-disabilities-services-request-course {
	font-weight: bold;
}

form#-nscc-disability-services-request-form div.nscc-disabilities-services-request-item {
	border: 1px solid #BBBBBB;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F1F1F1;
	border-radius: 5px;
}