<header style="background-image: url({{ file_url(content['field_img']['#object'].field_img.0.entity.uri.value) }})"
        class="{{ content['field_class_name']['#items'][0].value }}">
    <div class="container">
        {% if label and label is not null %}
            <div class="col-sm-12 program-page-secondary-content">
                <h2 class="news-feed-title">{{ label }}</h2>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                {{ content['body'] }}
            </div>
        </div>
    </div>
</header>

