<h2>Personal Trainer Sign-Up Form</h2>
<p>Working with clients to help them achieve their goals – whether it’s in weight management, toning, muscular strength,endurance, balance, flexibility, or just overall body conditioning.
    They will develop a program for each individual on their journey to becoming healthier that will be fun and effective.</p>
<form{{ attributes }}>
    {{ children }}
</form>