<h2>Sign up for a Personal Trainer</h2>
<h3>Package Includes: Consultation, two 30 min. training sessions, workout plan and follow up consultation.</h3>
<form{{ attributes }}>
    {{ children }}
</form>