.parallax-culinary-arts {
    /* The image used */
    background-image: url("../culinary-images/culinary-arts-beet-salad-at-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-desserts-breads {
    /* The image used */
    background-image: url("../culinary-images/specialty-desserts-and-breads-pastries.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-top {
    /* The image used */
    background-image: url("../culinary-images/culinary-academy-small-plates-at-seattle-central.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1024px) {

    .parallax-culinary-arts, 
    .parallax-desserts-breads, 
    .parallax-top {
        height: 420px;
        background-attachment: inherit;
    }

}

@media only screen and (max-width: 767px) {
    .parallax-culinary-arts, 
    .parallax-desserts-breads, 
    .parallax-top {
        height: 360px;
    }
}

@media only screen and (max-width: 600px) {
    .parallax-culinary-arts, 
    .parallax-desserts-breads, 
    .parallax-top {
        height: 320px;
    }
}

@media only screen and (max-width: 450px) {
    .parallax-culinary-arts, 
    .parallax-desserts-breads, 
    .parallax-top {
        height: 250px;
    }
}