.announcements-management {
	display: block;
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

.announcements-management li {
	position: relative;
	display: block;
	padding: 5px;
	padding-left: 10px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
	border-radius: 10px;
	overflow: hidden;
	/*box-shadow: 5px 2px 4px 1px rgba(0,0,0,.6);*/
	box-shadow: -1px -1px 6px 0 rgba(0, 0, 0, 0.6) inset;
}

.announcements-management .active {
	opacity: 1.0;
}

.announcements-management .expired {
	/*opacity: .6;*/
}

.announcements-management .expired .message-column,
.announcements-management .expired .dates-column {
	opacity: .6;
}

.announcements-management .announcement-wrapper {
	position: relative;
	/*border-width: 1px;
	border-style: solid;*/
	background-position: left top;
	background-repeat: no-repeat;
}

/* These should probably be background effects/pictures, not colors*/

.announcements-management .Snow-type {
	/*background-color: #CCCCFF;
	border-color: rgb(164, 212, 239);*/
	background-color: rgb(223, 243, 251);
	background-image: url(/sites/all/themes/nscc_960/imgs/bg-snow-announcement.png);
}

.announcements-management .Mechanical-type {
	/*background-color: #BBAACC;
	border-color: rgb(175, 140, 98);*/
	background-color: rgb(193, 181, 171);
	background-image: url(/sites/all/themes/nscc_960/imgs/bg-mechanical-announcement.png);
}

.announcements-management .Earthquake-type {
	/*background-color: #AAAACC;
	border-color: rgb(159, 159, 159);*/
	background-color: rgb(213, 213, 213);
	background-image: url(/sites/all/themes/nscc_960/imgs/bg-earthquake-announcement.png);
}

.announcements-management .Emergency-type {
	/*background-color: #AAAACC;
	border-color: rgb(159, 159, 159);*/
	background-color: rgb(255, 0, 0);
	background-image: url(/sites/all/themes/nscc_960/imgs/bg-emergency-announcement.png);
}

.announcements-management .Unexpected-type {
	/*background-color: #AAAACC;
	border-color: rgb(159, 159, 159);*/
	background-color: rgb(206, 0, 27);
	background-image: url(/sites/all/themes/nscc_960/imgs/bg-unexpected-announcement.png);
}


ul.announcements-management li div.message-column {
	width: 325px;
	padding: 2px 10px 2px 0px;
	float: left;
}
ul.announcements-management li div.dates-column {
	float: left;
	width: 129px;
	font-size: 90%;
}

ul.announcements-management li div.dates-column span.date-label{
	font-weight: bold;
}

ul.announcements-management li div.announcement-title {
	font-weight: 700;
}
ul.announcements-management li div.announcement-message {
	font-weight: 400;
}

ul.announcements-management li div.announcement-pdate {
	font-weight: 400;
}

ul.announcements-management li div.announcement-rdate {
	font-weight: 400;
}

ul.announcements-management li div.announcement-controls {
	width: 61px;
	float: left;
	/*vertical-align: middle;
	width: 36px;
	padding: 2px;*/
}

ul.announcements-management li div.announcement-controls a {
	display: block;
	/*width: 90%;
	height: 50%;
	font-size: .8em;
	color: white;*/
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	/*padding: 1px 3px;
	box-shadow: 3px 2px 2px 1px rgba(0,0,0,.6);*/
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
}

ul.announcements-management li div.announcement-controls a.announcement-delete-control:link,
ul.announcements-management li div.announcement-controls a.announcement-delete-control:visited {
	/*background-color: green;
	color: rgb(179, 0, 0);
	background: rgb(238,238,238);
	background: -moz-linear-gradient(top, rgb(238,238,238) 0%, rgb(204,204,204) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(238,238,238)), color-stop(100%,rgb(204,204,204)));
	background: -webkit-linear-gradient(top, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
	background: -o-linear-gradient(top, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
	background: -ms-linear-gradient(top, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
	background: linear-gradient(to bottom, rgb(238,238,238) 0%,rgb(204,204,204) 100%);*/
	color: white;
	background: rgb(227,139,95);
	background: -moz-linear-gradient(top, rgb(227,139,95) 0%, rgb(213,96,37) 50%, rgb(174,78,30) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(227,139,95)), color-stop(50%,rgb(213,96,37)), color-stop(100%,rgb(174,78,30)));
	background: -webkit-linear-gradient(top, rgb(227,139,95) 0%,rgb(213,96,37) 50%,rgb(174,78,30) 100%);
	background: -o-linear-gradient(top, rgb(227,139,95) 0%,rgb(213,96,37) 50%,rgb(174,78,30) 100%);
	background: -ms-linear-gradient(top, rgb(227,139,95) 0%,rgb(213,96,37) 50%,rgb(174,78,30) 100%);
	background: linear-gradient(to bottom, rgb(227,139,95) 0%,rgb(213,96,37) 50%,rgb(174,78,30) 100%);
}

ul.announcements-management li div.announcement-controls a.announcement-delete-control:hover {
	/*color: white;
	color: red;
	background-color: white;
	background: rgb(226,96,100);
	background: -moz-linear-gradient(top, rgb(226,96,100) 0%, rgb(214,52,74) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(226,96,100)), color-stop(100%,rgb(214,52,74)));
	background: -webkit-linear-gradient(top, rgb(226,96,100) 0%,rgb(214,52,74) 100%);
	background: -o-linear-gradient(top, rgb(226,96,100) 0%,rgb(214,52,74) 100%);
	background: -ms-linear-gradient(top, rgb(226,96,100) 0%,rgb(214,52,74) 100%);
	background: linear-gradient(to bottom, rgb(226,96,100) 0%,rgb(214,52,74) 100%);*/
	color: rgb(200,100,50);
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(246,246,246) 47%, rgb(237,237,237) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(47%,rgb(246,246,246)), color-stop(100%,rgb(237,237,237)));
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
	background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
	background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(246,246,246) 47%,rgb(237,237,237) 100%);
}

