/**
 *		NSCC Main Site styles
 *
 *		Base stylesheet for theme. Most of the text specifications are contained
 *		in the imported stylesheet to make them available to the RTF widget used
 *		by content managers.
 *
 */

@import "tiny-mce.css";



/*
--------------------------
BASIC STRUCTURE (supplimental)
--------------------------
*/

.sidenav-program {
  margin-top: 10px;
  background: url(../imgs/bg-program.png) repeat-y left top;
}

.curriculum-proftech {
  background: url(../imgs/bg-proftech-curriculum.png) top left repeat-y;
}

.curriculum-proftech .region-main .node .content div {
	margin: 15px 0;
}

#program-meta {
  padding-bottom: 10px;
}




/*
--------------------------
TEXT FORMATTING (supplimental)
--------------------------
*/

#program-meta h2 {
  font-size: 15px;
  line-height: 1.1;
  color: #fff;
}

#program-meta h3 {
  font-size: 13px;
  line-height: 1.1;
  color: #fff;
}

#program-meta dl {
  margin: 0 0 20px 0;
}

#program-meta dt {
  margin: 10px 0 0 0;
  font-size: 11px;
  line-height: 16px;
  color: #ffc9b6;
}

#program-meta dd {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

#program-meta dd strong {
  font-size: 14px;
  font-weight: normal;
}

#program-meta a {
  padding: 0 12px 0 0;
  background: transparent url(../imgs/bullet-navigation-right.png) right no-repeat;
}

#program-meta a:link,
#program-meta a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#program-meta a:hover {
  text-decoration: underline;
}




/*
--------------------------
HYPERLINK ENHANCEMENT EXCLUSIONS
--------------------------
*/

table.committees-listing a,
div.committee_links a {
	background-image: none;
	padding-left: 0;
}




/*
--------------------------
HOME PAGE
--------------------------
*/

.region-featured_promos {
  /*height: 288px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}


#home-callouts {
  margin: 10px 0;
}

#callouts {
  margin: 0 0 10px 0;
}

#home-callout1 {
  width: 210px;
  height: 88px;
  padding: 10px;
  background: #dfe8ea url(../imgs/callout1-international.png) no-repeat right top;
  float: left;
}

#home-callout2 {
  width: 220px;
  height: 88px;
  padding: 10px;
  background: #dfe8ea url(../imgs/callout2-calendar.png) no-repeat left top;
  float: left;
}

#home-callout3 {
  width: 220px;
  height: 88px;
  padding: 10px;
  background: #dfe8ea url(../imgs/callout3-notebooks.png) no-repeat left top;
  float: left;
}

#home-callout4 {
  width: 210px;
  height: 88px;
  padding: 10px;
  background: #dfe8ea url(../imgs/callout4-screen.png) no-repeat left top;
  float: left;
}

#home-callout1 h2,
#home-callout2 h2,
#home-callout3 h2,
#home-callout4 h2 {
  font-size: 18px;
  margin: 0 0 1px 0;
}

#home-callout1 p,
#home-callout2 p,
#home-callout3 p,
#home-callout4 p {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 3px 0;
}

.pdf {
  padding-left: 18px;
  background: url(../imgs/bullet-pdf.png) no-repeat 0% 50%;
}

#home-news {
  background: url(../imgs/bg-newshome.png) repeat left top;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}

#home-newsheader h2 {
  margin: 20px 0 20px 0;
  width: 140px;
  height: 46px;
  background: url(../imgs/heading-news.png) no-repeat left top;
}

#home-newsheader h2 span {
  display: none;
}

.home-newsitem1,
.home-newsitem2,
.home-newsitem3,
.home-newsitem4 {
  margin: 10px 0 0 0;
}

.home-newslink {
  margin: 10px 0 0 0;
}

.home-newsitem1 p,
.home-newsitem2 p,
.home-newsitem3 p,
.home-newsitem4 p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

p.date {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  color: #b94c26;
}

.home-newsitem1 a:link,
.home-newsitem2 a:link,
.home-newsitem3 a:link,
.home-newsitem4 a:link,
.home-newsitem1 a:visited,
.home-newsitem2 a:visited,
.home-newsitem3 a:visited,
.home-newsitem4 a:visited {
  text-decoration: none;
}


#home-callouts a {
  text-decoration: none;
}

.front .block { margin-bottom: 0; }

.front #home-callouts { margin: 6px 10px; }

.front .callout {		/* Compensates for lost grid-margins on front page callouts. */
  width: 223px;
  margin: 0 1px;
}

.front .region-news_headlines {
  margin-top: 18px;
  margin-bottom: 18px;
}

.front .region-news_headlines a { text-decoration: none; }

.front #block-views-better_aggregator_block-block_1 h2 {
  position: relative;
  width: 140px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.front #block-views-better_aggregator_block-block_1 h2 a {
	
}

.front #block-views-better_aggregator_block-block_1 h2 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../imgs/heading-news.png) no-repeat left top;
}

.front #block-views-better_aggregator_block-block_1 .view-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.front #block-views-better_aggregator_block-block_1 .view-content li {
  float: left;
  width: 140px;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

.front #block-views-better_aggregator_block-block_1 .view-content li.views-row-first {
  margin-left: 0;
}

.front #block-views-better_aggregator_block-block_1 .view-content li.views-row-last {
  margin-right: 0;
}

.front #block-views-better_aggregator_block-block_1 .views-field-timestamp {
  text-align: left;
}

.home-newsitem1,
.home-newsitem2,
.home-newsitem3,
.home-newsitem4 {
  margin: 10px 0 0 0;
}

.home-newslink {
  margin: 10px 0 0 0;
}

.front #block-views-better_aggregator_block-block_1 .views-field-title,
.home-newsitem1 p,
.home-newsitem2 p,
.home-newsitem3 p,
.home-newsitem4 p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.front #block-views-better_aggregator_block-block_1 .views-field-timestamp,
p.date {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  text-transform: uppercase;
  color: #b94c26;
}

.home-newsitem1 a:link,
.home-newsitem2 a:link,
.home-newsitem3 a:link,
.home-newsitem4 a:link,
.home-newsitem1 a:visited,
.home-newsitem2 a:visited,
.home-newsitem3 a:visited,
.home-newsitem4 a:visited {
  text-decoration: none;
}




/*
-----------------------------
FRONT PAGE SLIDESHOW
-----------------------------
*/

.fp_slide {
  position: relative;
  width: 700px;
  height: 288px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(207, 203, 194);
}

.fp_slide a { text-decoration: none; }

.fp_slide-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  width: 190px;
  height: 288px;
  margin: 0;
  padding: 10px 10px 0 50px;
  color: rgb(255, 255, 255);
}

.fp_slide-content h2 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.fp_slide-content p {
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}


/* Slideshow Controls */

/*.view-Frontpage-slideshow,*/
#block-views-Frontpage_slideshow-block_5 {
	position: relative;
	display: block;
	width: 700px;
	overflow: hidden;
}

.views-slideshow-controls-bottom,
.views-slideshow-controls-top {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	margin-right: 220px;
	z-index: 100;
}

.views_slideshow_singleframe_pager {
	/*	suppressed to demonstrate too many slides in rotation | vellines 10-DEC-2012
	width: 480px;
	overflow: hidden;
	*/
}

.views_slideshow_singleframe_pager .pager-item {
	display: block;
	float: left;
	width: 1.5em;
	margin: 3px 2px;
	padding: 0;
	font-size: 10px;
	line-height: 1;
}

.views_slideshow_singleframe_pager .first {}

.views_slideshow_singleframe_pager .last { margin-right: 5px; }

.views_slideshow_singleframe_pager .pager-item a {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.views_slideshow_singleframe_pager .pager-item a:link,
.views_slideshow_singleframe_pager .pager-item a:visited {
	color: rgba(51, 51, 51, 0.6);
	background-color: rgba(255, 255, 255, 0.3);
}

.views_slideshow_singleframe_pager .pager-item a.activeSlide {
	color: rgba(185, 76, 38, 0.9);
	background-color: rgba(255, 255, 255, 0.8);
}

.fp-slide .slide-nav {
  position: absolute;
  top: 0;
  right: 230px;
  margin: 0;
  padding: 0;
}

.fp-slide .slide-nav ol {
  list-style: none;
  margin: 10px 0;
  text-align: right;
}

.fp-slide .slide-nav li {
  display: inline;
  color: rgba(0,0,0,.4);
  background-color: rgba(230,230,230,.4);
  margin: 0 5px;
  padding: 3px;
  line-height: 1;
  font-size: 14px;
}

.fp-slide .slide-nav li.current-slide {
  color: rgba(255,255,255,.8);
  background-color: rgba(0,0,0,.4);
}




/*
-----------------------------
FRONT PAGE HIGHLIGHT (PIO message)
-----------------------------
*/

#block-nscc_prod-2 {
	/*margin: 10px 0 0;*/
}

a.fp-highlight {
	display: block;
	padding: 0 0 0 20px;
	font-size: 115%;
	line-height: 2;
	text-decoration: none;
	background: transparent url(/sites/all/themes/nscc_960/imgs/bg-breadcrumbs.png) left 50% no-repeat scroll;
	border-radius: 6px;
	box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, .25) inset;
}

a.fp-highlight:link,
a.fp-highlight:visited {
	color: rgb(185, 76, 38);
	background-color: rgb(242, 241, 237);
}

a.fp-highlight:hover {
	color: white;
	background-color: rgb(130, 126, 115);
}




/*
-----------------------------
PROMOS
-----------------------------
*/

.promo {
	width: 220px;
	height: 288px;
	margin: 0;
	padding: 0;
	border: 0 none;
	background-color: rgb(216, 215, 210);
}

.promo .content {
  margin: 0;
  padding: 0 10px;
}

.promo .content h2 {
  margin: 0 0 5px;
  font: normal 24px/30px MuseoSans, 'Lucida Grande', Tahoma, Arial, sans-serif;
  color: rgb(45, 98, 117);
}

.promo .content p {
  margin: 0 0 10px;
  font: normal 12px/18px MuseoSans, 'Lucida Grande', Tahoma, Arial, sans-serif;
}


/* Explore NSCC */

#promo-explore-nscc div.links {
	margin: 0 auto;
	width: 200px;
}

#promo-explore-nscc .links li {
	display: block;
	float: left;
	width: 90px;
	height: 50px;
	margin: 0 5px;
	overflow: hidden;
}

#promo-explore-nscc .links a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#promo-explore-nscc .links a span {
	position: absolute;
	width: 100%;
	height: 100%;
}

#promo-explore-nscc .links li.by-student-type a span {
	background: transparent url(../imgs/btn-promo-student-type.png) top left no-repeat;
}

#promo-explore-nscc .links li.by-career-type a span {
	background: transparent url(../imgs/btn-promo-career-type.png) top left no-repeat;
}

#promo-explore-nscc .links li.by-student-type a:hover span,
#promo-explore-nscc .links li.by-career-type a:hover span {
	background-position: bottom left;
}



/*
-----------------------------
NAVIGATION INDICES
-----------------------------

#block-block-4 {
  border: 0;
  padding: 0 0 6px;
  background-color: rgb(216, 215, 210);
}
*/



/*
-----------------------------
SIDEBARS & BLOCKS
-----------------------------
*/

#side-column1 { margin-top: 0; }

.region-right .block {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.region-right .block h2 {
  color: rgb(139, 165, 66);
  font-size: 16px;
  line-height: 16px;
}

.region-right .block ul {
  list-style: none;
  padding: 0;
}

#side-column1 li {
  list-style: none;
  font-size: 12px;
}

.region-right .block ul a:link,
.region-right .block ul a:visited,
.region-right .block .more-link a:link,
.region-right .block .more-link a:visited { text-decoration: none; }

.region-right .block ul a:hover,
.region-right .block .more-link a:hover { text-decoration: underline; }

.region-right .block .more-link {
  font-size: 11px;
  line-height: 1;
}

div.contact-info {
	margin: 10px 0;
	padding: 5px;
	color: rgb(255, 255, 255);
	background-color: rgb(185, 76, 38);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

div.contact-info h2 {
	color: rgb(255, 255, 255);
	font-size: 15px;
	line-height: 1.1;
}

#side-column1 div.contact-info h3,
div.contact-info h3 {
	margin: 10px 0 0;
	color: rgb(255, 201, 182);
	font-size: 11px;
	line-height: 16px;
}

div.contact-info .location-img { text-align: center; }

div.contact-info p,
div.contact-info li,
div.contact-info .location-description,
#side-column1 div.contact-info p,
#side-column1 div.contact-info li {
	margin: 0 0 12px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	line-height: 16px;
}

div.contact-info a {
	padding: 0 12px 0 0;
	background: transparent url(/sites/all/themes/nscc_960/imgs/bullet-navigation-right.png) right center no-repeat;
}

div.contact-info a:link,
div.contact-info a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

div.contact-info a:hover {
	text-decoration: underline;
}

.feed-wrapper { margin: 0 0 9px; }

.feed-title { line-height: 1.2; }

.feed-content {
	font-size: 10px;
	color: rgb(95, 93, 89);
}



/*
-----------------------------
BANNER TITLES (supplimental)
-----------------------------
*/

#photo-header-program { overflow: hidden; }

#photo-header-program .banner-title-text {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 6px;
  font-size: 22px;
  line-height: 1;
  color: rgb(51, 51, 51);
  overflow: hidden;
}
#photo-header-program .title-color-dark {
  color: rgb(51, 51, 51);
  background: transparent url(../imgs/bg-prgm-title-dark.png) bottom left no-repeat;
}

#photo-header-program .title-color-light {
  color: rgb(255, 255, 255);
  background: transparent url(../imgs/bg-prgm-title-light.png) bottom left no-repeat;
}



/*
-----------------------------
TESTIMONIALS & PROFILES
-----------------------------
*/

.node-type-profile .node-inner h2 {
	margin: 0 0 15px;
	padding: 0 0 10px;
	border-bottom: solid 1px rgb(230, 227, 220);
	font-size: 22px;
	line-height: 1.1;
	color: rgb(185, 76, 38);
}

.node-type-profile .profile-subject {
	max-width: 278px;
	float: right;
	margin: 0 0 18px 18px;
	padding: 10px;
	border: solid 1px rgb(200, 207, 181);
	background-color: rgb(235, 239, 224);
	text-align: center;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px 9px 9px 9px;
}

.node-type-profile .profile-subject-photo img { max-width: 258px; }

.node-type-profile .profile-subject-name {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.node-type-profile .profile-subject-title {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1.2;
	color: rgb(95, 91, 83);
}

.node-type-ed-fund-success-story { clear: both; }

.node-type-ed-fund-success-story .photo {	float: right; }

#side-column1 .testimonials,
#side-column1 .related-info-links { margin-top: 24px; }

#side-column1 .testimonial {
	margin: 0 0 10px;
	color: rgb(95, 93, 89);
	background: transparent url(../imgs/bg-quotes-open.png) left 15px no-repeat;
}

div.testimonial-quote {
	padding: 6px 0 3px;
	background: transparent url(../imgs/bg-quotes-close.png) bottom right no-repeat;
}

#side-column1 .testimonial p,
#side-column1 .testimonial li,
#side-column1 .profile_teaser p,
#side-column1 .profile_teaser li {
	margin: 0 0 1em;
	color: rgb(95, 93, 89);
}

#side-column1 .testimonial-photo img {
	width: 130px;
	padding: 5px;
	border: solid 1px rgb(191, 187, 179);
	background-color: rgb(230, 227, 220);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

#side-column1 .testimonial-quote blockquote {
	margin: 0;
	font-style: italic;
}

#side-column1 .testimonial-name,
#side-column1 .profile-name {
	font-size: 11px;
	line-height: 1.1;
	text-align: right;
}

#side-column1 .testimonial-job-title,
#side-column1 .profile-job-title {
	margin-top: 3px;
	font-size: 10px;
	line-height: 1.1;
	text-align: right;
}

#side-column1 .profile-name,
#side-column1 .profile-job-title { text-align: left; }

#side-column1 .profile_teaser p,
#side-column1 .profile_teaser li { margin-top: .5em; }

/* flyout shennanigans */
div.full-profile-flyout {
	display:none;
	width: 600px;
	background-color: white;
	border: 1px solid black;
	margin: 0 auto;
	left: 80px;
	z-index:99000;
	padding: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;	
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  border-radius: 20px 20px 20px 20px;
  box-shadow:0 0 90px 5px #000;
}



/*
-----------------------------
INTEGRATED STUDIES TESTIMONIALS
-----------------------------
*/
.node-type-testimonial-is{}

.node-type-testimonial-is .node-inner{
	margin: 10px 0;
	padding: 6px 12px;
	background-color: rgb(255,252,250);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.node-type-testimonial-is .node-inner .node-photo {
	margin-top: 10px;
  width: 140px;
	float: right;
}
.node-type-testimonial-is .node-inner .node-photo img{
	margin: 5px;
	padding: 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
div.is-testimonial-quote {
	padding-top: 1px;
	background: transparent url(../imgs/bg-quotes-open.png) left top no-repeat;
}
div.is-testimonial-quote blockquote {
	margin: 0;
	background: transparent url(../imgs/bg-quotes-close.png) right bottom no-repeat;
}
.node-type-testimonial-is .node-inner .content .is-testimonial-quote p,
.node-type-testimonial-is .node-inner .content .is-testimonial-quote li {
	font-size: 12px;
}

.is-testimonial-quote cite {
	display: block;
	font-size: 11px;
	font-style: normal;
	text-align: right;
	color: rgb(127, 127, 127);
}

.is-testimonial-quote cite:before {
	content: '— ';
}

.is-testimonial-quote cite span {}

.quotee-name {}

.quotee-name a:link,
.quotee-name a:visited {
	color: rgb(42, 116, 144);
	text-decoration: none;
}

.quotee-name a:hover {
	color: rgb(51, 51, 51);
	text-decoration: underline;
}

.quotee-name:after {
	content: ', ';
}

.quotee-title {}


/*
-----------------------------
COMMITTEE OVERVIEWS
-----------------------------
*/

.node-type-committee-overview a:link,
.node-type-committee-overview a:visited { text-decoration: none; }

.node-type-committee-overview a:hover { text-decoration: underline; }

.node-type-committee-overview .committee_links,
.node-type-committee-overview .memberlist,
.node-type-committee-overview .memberlist div { margin-bottom: 24px; }

.node-type-committee-overview h2 {
	font-size: 16px;
	line-height: 20px;
}

.node-type-committee-overview .committee_links ul,
.node-type-committee-overview .memberlist ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;	/* ie7*/
}

.node-type-committee-overview .committee_links li,
.node-type-committee-overview .memberlist li {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;	/* ie7 */
	font: normal 12px/15px MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	clear: both;
}

.node-type-committee-overview li.committee_membership .member-constituency {
	display: block;
	float: right;
	width: 80px;
	font-size: 10px;
	/*color: rgb(143, 143, 143);*/
	color: rgb(114, 143, 62);
}

.node-type-committee-overview li.committee_membership .member_position {
	display: block;
	font-size: 10px;
	color: rgb(143, 143, 143);
}

.node-type-committee-overview .committee-resources .technical-contact { clear: right; }

.node-type-committee-overview .committee-resources .technical-contact p {
	font: 10px/1.2 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	color: rgb(127, 127, 127);
}


/* Committees Index */

.node-inner .content div.view-committees {}

.node-inner .content .view-committees td {
	padding: 3px 6px;
	font: 12px/14px MuseoSans, "Lucida Grande",Tahoma,Arial,sans-serif;
}

.view table.committees-listing th {
	padding: 3px 6px;
	font-weight: normal;
}

.view table.committees-listing .views-field-title { width: 240px; }	/* 3-col */

.view table.committees-listing .views-field-field-other-website-url-url { width: 80px; }	/* 1-col */

.view table.committees-listing td.views-field-title {
	font-size: 15px;
	line-height: 20px;
}

.view table.committees-listing td.views-field-field-other-website-url-url a { padding: 0 2px; }

.view table.committees-listing th.active,
.view table.committees-listing tr.even td.active { background-color: rgb(255, 255, 255); }

.view table.committees-listing tr.odd td.active { background-color: rgb(245, 245, 245); }



/*
-----------------------------
AD FRAME
-----------------------------
*/

.node-type-ad-frame #primary-content .callout {
	width: 218px;
	margin-bottom: 10px;
}

div.adm_slide {
	position: relative;
	width: 220px;
	height: 444px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(207, 203, 194);
}

div.adm_slide a { text-decoration: none; }

.node-type-adm-slide .adm_slide-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 150px;
	margin: 0;
	padding: 20px 10px 10px;
	z-index: 500;
	color: rgb(255, 255, 255);
}

.node-type-adm-slide .adm_slide-content h2 {
	font-size: 22px;
	line-height: 1.2;
	font-weight: normal;
	color: rgb(255, 255, 255);
}

.node-type-adm-slide .adm_slide-content p,
.node-type-adm-slide .adm_slide-content li {
	font-size: 12px;
	line-height: 20px;
	color: rgb(255, 255, 255);
}

.node-type-ad-frame #secondary-content h3,
.node-type-ad-frame #supplimental-content h3 { color: rgb(139, 165, 66); }

.node-type-ad-frame .related-info-links,
.node-type-ad-frame .news-headlines { margin-bottom: 24px; }

.node-type-ad-frame .related-info-links ul { list-style: none; }

.node-type-ad-frame .related-info-links li {
	margin: 0;
	padding: 5px 0;
	list-style: none;
	font-size: 12px;
	line-height: 16px;
}



/*
-----------------------------
SECTIONS & DEPT-GROUPS
-----------------------------
*/

.node-type-page-section .content-area,
.node-type-dept-group .content-area {
	background: rgb(255, 255, 255) url(../imgs/bg-section-page.png) repeat-y;
}

.node-type-section-home-page .content-area { background-image: none; }

.node-type-page-section .courselist-by-tag {
	list-style: none outside none;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

.node-type-page-section .courselist-item { margin: 0; }




/*
-----------------------------
PROGRAM CALENDAR PAGES
-----------------------------
*/

.page-program-calendar .sidenav-program {
	background: rgb(255, 255, 255) url(/sites/all/themes/nscc_960/imgs/bg-proftech-curriculum.png) repeat-y;
}



/*
-----------------------------
SCHOLARSHIPS & WORK STUDY JOBS
-----------------------------
*/

.node-type-scholarship .content-area {
/*	background: rgb(255, 255, 255) url(../imgs/bg-section-page.png) repeat-y;*/
}

.node-type-scholarship .scholarship-eligibility {
	padding: 6px;
	background-color: rgb(235, 239, 224);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

.node-type-page-section .node-type-scholarship .scholarship-meta p,
.node-type-page-section .node-type-scholarship .scholarship-meta li,
.node-type-page-section .node-type-scholarship .scholarship-contact p,
.node-type-page-section .node-type-scholarship .scholarship-contact li {
	font: 12px/1.5 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
}

.node-type-page-section .scholarship-meta ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.node-type-page-section .scholarship-meta li {
	clear: left;
	margin: 0;
	font-size: 15px;
}

.node-type-page-section .scholarship-meta span.field-label {
	display: block;
	font-size: 12px;
}

div.scholarship-contact {	margin: 0; }

.view-Scholarships .views-row {	border-bottom: solid 1px rgb(230, 227, 220); }

.view-Scholarships div.views-field-title {
	font-size: 14px;
	line-height: 1.2;
}

.view-Scholarships .views-field-field-sch-due-value,
.view-Scholarships .views-field-field-sch-desc-value { margin: 5px 0; }

.view-Scholarships .views-row .views-field-field-sch-due-value span.date-display-single,
#side-column1 .scholarship-meta span.scholarship-deadline {
	font-size: 15px;
	color: rgb(185, 76, 38);
}

#side-column1 .views-field-field-sch-due-value,
#side-column1 .views-field-field-sch-due-value label,
#side-column1 .views-field-field-sch-due-value span.date-display-single {	font-size: 12px; }

#side-column1 .work-study-meta li { font-size: 15px; }

#side-column1 .work-study-meta li label {
	margin-right: 3px;
	padding-top: 2px;
	font-size: 12px;
	color: rgb(139, 165, 66);
}



/*
-----------------------------
TUITION
-----------------------------
*/

.node-type-tuition div.tuition-group {
	margin: 0 0 20px;
}

.node-type-tuition table.tuition-table {
	width: 100%;
	margin: 0;
}

.node-type-tuition table.tuition-table tr.altRow { background-color: rgb(223, 232, 234); }

.node-type-tuition table.tuition-table th {
	padding: 3px 6px;
	font-size: 11px;
	font-weight: normal;
	color: rgb(95, 95, 95);
}

.node-type-tuition table.tuition-table td {
	padding: 3px 6px;
	font: 12px/1 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
}

.node-type-tuition table.tuition-table th {
	line-height: 1;
	text-align: center;
}

.node-type-tuition table.tuition-table td { text-align: center; }

.node-type-tuition table.tuition-table th + th,
.node-type-tuition table.tuition-table td + td { text-align: right; }

.node-type-tuition table.special-programs-tuition-table td { text-align: left; }

.node-type-tuition div.tuition-notes p,
.node-type-tuition div.tuition-notes li {
	font-size: 10px;
	color: rgb(95, 95, 95);
}



/*
-----------------------------
FEES LIST
-----------------------------
*/

div.fee {
	padding: 10px 0;
	border-bottom: solid 1px rgb(230, 227, 220);
	background: transparent url(/sites/all/themes/nscc_960/imgs/bg-pale-sidebar.png) top right repeat-y;
}

div.fee .node { margin: 0; }

div.fee .node h2 {
	margin: 0;
	font-size: 16px;
	line-height: 1;
}

div.fee .node-type-fee .fee-detail p,
div.fee .node-type-fee .fee-detail li {
	font-size: 12px;
	line-height: 18px;
}

div.fee .node-type-fee .fee-detail p { margin: 10px 0 0; }

div.fee .node-type-fee .fee-detail th {
	font-weight: normal;
	color: rgb(111, 111, 111);
}

div.fee .node-type-fee .fee-cost {}

div.fee .node-type-fee .fee-cost li { margin: 0; }

div.fee .node-type-fee .fee-cost p,
div.fee .node-type-fee .fee-cost li {
	margin: 0;
	font: 15px/1 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
}

div.fee .node-type-fee .fee-cost ul {
	margin: 10px 0;
	padding: 0;
	list-style: none outside none;
}

div.fee .node-type-fee .fee-cost td { font-size: 15px; }


/* Schedule display */

.schedule-tag .node-type-fee div.fee-detail {
	clear: left;
	margin: 4px 0;
}

.node-type-fee div.fee-detail label {
	float: left;
	margin: 0 6px 0 0;
}

.node-type-fee .node-inner div.fee-detail label {
	margin-right: 10px;
	font-size: 14px;
	line-height: 1.5;
}



/*
-----------------------------
DEGREES & CERTIFICATES
-----------------------------
*/

.node .sbctc_meta p {	font: 12px/1.2 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif; }

.node-type-degree-transfer p.file-description {
	margin-top: 0;
	font: 11px/1.2 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	color: rgb(127, 127, 127);
}

.node-type-certificate td span {
	color: rgb(127, 127, 127);
	font-size: 10px;
}

.node-type-certificate td span.course-overlay {
	font-size: 12px;
	color: rgb(51, 51, 51);
}

.node-type-certificate .courselist-by-tag,
.node-type-degree-proftech .courselist-by-tag {
	list-style: none outside none;
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
}

.node-type-degree-transfer .courselist-by-tag,
.node-type-degree-nontrad .courselist-by-tag {
	list-style: none outside none;
	-moz-column-count: 10;
	-webkit-column-count: 10;
	column-count: 10;
}

.node-type-certificate .courselist-item,
.node-type-degree-proftech .courselist-item,
.node-type-degree-transfer .courselist-item,
.node-type-degree-nontrad .courselist-item { margin: 0; }

.node-type-degree-transfer .node-inner .content li.courselist-item,
.node-type-degree-nontrad .node-inner .content li.courselist-item {
	font: 12px/1.5 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	padding: 0;
}

.node-inner .content .file-description {
	margin: 0;
	padding: 0;
	font: normal 11px/1 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	color: rgb(127, 127, 127);
}



/*
-----------------------------
STORM BASKETBALL (SPORTS)
-----------------------------
*/

.node-type-storm-team ul.tab-items { padding: 0 0 0 3px; }

.node-type-storm-team .tabbed-container div.panes {
	border: 0 none;
	padding: 15px 0 0;
}

.node-type-storm-team .tabbed-container div.tab-body { padding: 0; }

.node-type-storm-team table.team-roster { border-collapse: collapse; }

.node-type-storm-team .team-roster th {
	padding: 5px;
	font-weight: normal;
	font-size: 11px;
	color: rgb(132, 130, 117);
}

.node-type-storm-team .team-roster td {
	border-top: solid 1px rgb(204, 204, 204);
	border-bottom: solid 1px rgb(204, 204, 204);
	padding: 5px;
}

.node-type-storm-team .tab-body h2 {
	position: absolute;
	left: -9999em;
}

.node-type-storm-team .storm-staffer img,
.node-type-storm-player .player-data img {
	float: right;
	margin: 0 0 15px 15px;
	padding: 5px;
	border: solid 1px rgb(191, 187, 179);
	background-color: rgb(230, 227, 220);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: -2px 3px 6px rgba(51, 51, 51, 0.3);
	-webkit-box-shadow: -2px 3px 6px rgba(51, 51, 51, 0.3);
	border-radius: 4px 4px 4px 4px;
	box-shadow: -2px 3px 6px rgba(51, 51, 51, 0.3);
}

.node-type-storm-team .storm-staffer { margin: 0 0 30px; }

.node-type-storm-team .storm-staffer-name {
	display: block;
	font-size: 20px;
	line-height: 1.2;
}

.node-type-storm-team .storm-staffer-role {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: rgb(127, 127, 127);
}

.node-type-storm-player .player-data ul {
	margin: 0;
	padding: 0;
	list-style: none inside;
}

.node-type-storm-player .player-data li {
	clear: left;
	margin: 0;
	padding: 5px 0;
	font-size: 18px;
	line-height: 22px;
}

.node-type-storm-player .player-data label {
	display: block;
	float: left;
	width: 90px;
	margin: 0 20px 0 0;
	padding: 2px 0;
	font-size: 12px;
	line-height: 22px;
	color: rgb(139, 165, 66);
}

.node-type-storm-player .player-bio { clear: both; }

.node-type-storm-game .game-data ul {
	margin: 0;
	padding: 0;
	list-style: none inside;
}

.node-type-storm-game .game-data li {
	clear: left;
	margin: 0;
	font-size: 16px;
	line-height: 1;
}

.node-type-storm-game .game-data li.game-matchup {
	font-size: 18px;
	line-height: 22px;
}

.node-type-storm-game .game-data label {
	display: block;
	float: left;
	width: 60px;
	margin-right: 20px;
	font-size: 11px;
	line-height: 20px;
	color: rgb(139, 165, 66);
}

.view-storm-games .views-table th {
	border-top: 0 none;
	color: rgb(132, 130, 117);
}



/*
-----------------------------
SEARCH FEEDBACK (SmartAlec SearchPoint)
-----------------------------
*/

#block-nscc-12 {
	position: fixed;
	bottom: 5px;
	z-index: 999999;
}

#nscc-search-feedback-form {}

.nscc-search-feedback-form,
.nscc-search-feedback-form-response {
	width: 340px;
	margin: 0;
	padding: 5px 5px 5px 35px;
	border: solid 2px #FFFF77;
	background: #FFFFCC url("/sites/all/themes/nscc_960/imgs/messages-query.png") 5px 5px no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

h2.nscc-search-feedback-form-title {
	float: right;
	width: 140px;
	height: 120px;
	margin: -8px -3px 0 0;
	padding: 0;
	font-size: 11px;
	text-align: right;
	white-space: nowrap;
	color: rgb(163, 175, 131);
	background: transparent url(/sites/all/themes/nscc_main/imgs/smart-alec-waiting.gif) 50% 10px no-repeat;
}

.false-response h2.nscc-search-feedback-form-title {
	background: transparent url(/sites/all/themes/nscc_main/imgs/smart-alec-bad.gif) 50% 10px no-repeat;
}

.true-response h2.nscc-search-feedback-form-title {
	background: transparent url(/sites/all/themes/nscc_main/imgs/smart-alec-good.gif) 50% 10px no-repeat;
}

#nscc-search-feedback-form .form-item {}

#nscc-search-feedback-form .option {
	font-size: 15px;
	line-height: 1;
}

#nscc-search-feedback-form .option input {}

#nscc-search-feedback-form p {
	margin: 0;
	padding: 0;
}



/*
-----------------------------
EDFUND AUCTIONS
-----------------------------
*/

#auction-sponsors-list { margin: 36px 0; }

.view-content .node-type-auction-sponsor,
#auction-sponsors-list .node-type-auction-sponsor {
	margin: 0;
	padding: 10px 0;
	border-bottom: solid 1px rgb(240, 240,240);
	text-align: center;
	line-height: 1;
}

.edfund-auction-forms {
	padding: 0 10px;
	border: solid 1px rgb(211, 199, 151);
	background-color: rgb(250, 248, 240);
	-moz-border-radius: 9px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 9px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 9px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.edfund-auction-forms label {
	display: block;
	margin: 10px 0;
	font-size: 11px;
	color: rgb(107, 107, 107);
}

.edfund-auction-forms textarea {
	padding: 3px;
	font: normal 14px/1.5 DroidSerif, Georgia, "Times New Roman", Times, serif;
}

.edfund-auction-forms select {
	display: block;
	margin: 5px 0;
	padding: 2px;
	font-size: 13px;
}



/*
-----------------------------
ED FUND BOARD BIOS
-----------------------------
*/

div.node-type-ed-fund-board-member {
	clear: both;
	padding: 18px 0;
}

.board-member-photo {
	float: right;
	text-align: center;
}

.board-member-photo .photo-caption {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1;
	color: rgb(127, 127, 127);
}

.node-inner .content .edfund-board-role {
	margin: 0;
	padding: 0;
	font: 12px/1 MuseoSans, "Lucida Grande", Tahoma, Arial, sans-serif;
	color: rgb(127, 127, 127);
}

.edfund-board-bio {}



/*
-----------------------------
FOOD SERVICE / CATERING
-----------------------------
*/

.node-type-fs-item {}

.catering-item-description {}

.catering-item-description img { float: right; }


/* Weekly Cafeteria Menu */

.node-type-fs-weekly-menu {}

#fs-menu-title {
	font-size: 16px;
	font-style: italic;
	color: rgb(185, 76, 38);
}

.node-type-fs-weekly-menu .fs-item {}

.node-type-fs-weekly-menu .fs-item-title {
	font-size: 12px;
	line-height: 1.1;
}

.node-type-fs-weekly-menu .fs-item img {
	margin: 0;
	padding: 0;
}

.node-type-fs-weekly-menu .fs-item a { text-decoration: none; }

.node-type-fs-weekly-menu .fs-item a:link,
.node-type-fs-weekly-menu .fs-item a:visited {}

.node-type-fs-weekly-menu .fs-item a:hover {}

.node-type-fs-weekly-menu .fs-item .desc {}

.node-type-fs-weekly-menu .fieldgroup {
	margin: 0;
	padding: 18px 0;
	border-top: solid 1px rgb(220, 220, 220);
}

.node-type-fs-weekly-menu .fieldgroup h2 {
	margin: 0;
	padding: 0 0 12px;
}

.node-type-fs-weekly-menu .fieldgroup .content {
	padding: 0;
}

.node-type-fs-weekly-menu .fieldgroup .field {}


/* Link to current weekly menu */

.weekly-cafeteria-menu-link a {
	padding: 0 15px 0 0;
	font-size: 12px;
	line-height: 1;
	background: transparent url(/sites/all/themes/nscc_960/imgs/bullet-links-right.png) no-repeat;
	overflow: hidden;
}

.weekly-cafeteria-menu-link a:link,
.weekly-cafeteria-menu-link a:visited {
	text-decoration: none;
	color: rgb(42, 116, 144);
	background-position: right 1px;
}

.weekly-cafeteria-menu-link a:hover {
	text-decoration: underline;
	color: rgb(51, 51, 51);
	background-position: right -48px;
}
