.parallax-deck {
    /* The image used */
    background-image: url("../maritime-images/seattle-maritime-academy-dean.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-engineering {
    /* The image used */
    background-image: url("../maritime-images/maritime-students-rafting-exercise.jpg");
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-top {
    /* The image used */
    background-image: url("../maritime-images/seattle-maritime-academy-at-seattle-central-college.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1024px) {

    .parallax-deck, 
    .parallax-engineering, 
    .parallax-top {
        height: 420px;
        background-attachment: inherit;
    }

}

@media only screen and (max-width: 767px) {
    .parallax-deck, 
    .parallax-engineering, 
    .parallax-top {
        height: 360px;
    }
}

@media only screen and (max-width: 600px) {
    .parallax-deck, 
    .parallax-engineering, 
    .parallax-top {
        height: 320px;
    }
}

@media only screen and (max-width: 450px) {
    .parallax-deck, 
    .parallax-engineering, 
    .parallax-top {
        height: 250px;
    }
}