
table.assign-course-tags {
	width: auto;
	border-collapse: separate;
}

table.assign-course-tags thead tr th.course-column {
	text-align: right;
	padding: 5px;
	margin: 2px 15px;
	background-color: #DDDDDD;
	font-size: 1.4em;
	border: 1px solid #CCCCCC;
}

table.assign-course-tags thead tr th.tag-column {
	text-align: center;
	padding: 5px;
	margin: 2px 15px;
	width: 40px;
	background-color: #DDDDDD;
	font-size: 1.4em;
	border: 1px solid #CCCCCC;
}

table.assign-course-tags tbody tr th.course-column {
	text-align: right;
	padding: 2px 5px;
	margin: 2px 15px;
	border: 1px solid #CCCCCC;
}


table.assign-course-tags tbody tr td.tag-column {
	padding: 2px;
	margin: 2px 15px;
	width: 40px;
	text-align: center;
	color: #CCCCCC;
	border: 1px solid #F8F8F8;
}
table.assign-course-tags tbody tr td.tag-column.status-working {
	color: #333300;
	background-color: #F8F800;
}
table.assign-course-tags tbody tr td.tag-column.status-on {
	color: #FFFFFF;
	background-color: rgb(40, 91, 108);
}
table.assign-course-tags tbody tr td.tag-column.status-off {
	background-color: #FFFFFF;
}

table.assign-course-tags tbody tr.fancyhighlight th {
	background-color: #AAC0C0;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}
table.assign-course-tags tbody tr.fancyhighlight td {
	color: #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.editable {
	cursor: url(/sites/all/modules/nscc_schedule/cursor-edit.png), url(/sites/all/modules/nscc_schedule/cursor-edit.cur), pointer;
	padding: 3px;
}
.editable:hover{
	border: 1px dashed #CCCCCC;
	padding: 2px;
}
ul.deleteable > li{
	cursor: url(/sites/all/modules/nscc_schedule/cursor-delete.png), url(/sites/all/modules/nscc_schedule/cursor-delete.cur), pointer;
	padding: 3px;
}
ul.deleteable > li:hover{
	border: 1px dashed #CCCCCC;
	padding: 2px;
}

a.update-button, a.update-button:link, a.update-button:active, a.update-button:visited {
	display: block;
	background-color: #FFA500;
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 1px;
	text-decoration: none;
	width: 20em;
	border-radius: 3px;
	text-align: center;
}
a.update-button:hover {
	background-color: #FFC04D;
}

div.ajax-status {
	height: 2em;
	margin: 5px;
	margin-bottom: -50px;
	padding: 5px;
	color: #000000;	
}

div.ajax-status.working{
	color: #888888;
}
div.ajax-status.error{
	color: #FF4444;
}

table.el-details-table {
	width: auto;
	border-collapse: separate;
}

table.el-details-table thead tr th {
	text-align: center;
	padding: 5px;
	margin: 2px 15px;
	background-color: #DDDDDD;
	font-size: 1.2em;
	border: 1px solid #CCCCCC;
}
table.el-details-table tbody tr td div.item-cell {
	padding: 2px;
	margin: 2px 15px;
	width: 30px;
	text-align: center;
	color: #444444;
}
table.el-details-table tbody tr td div.course-cell {
	padding: 2px;
	margin: 2px 15px;
	width: 50px;
	text-align: center;
	color: #888888;
}
table.el-details-table tbody tr td div.ocm-cell {
	padding: 2px;
	margin: 2px 15px;
	text-align: center;
}
table.el-details-table tbody tr td div.ocm-cell.editable:hover{
	border: 1px dashed #CCCCCC;
	padding: 1px;
}

