a.register-button {
	display: block;
	padding: 0;
	margin: 3px 0px;
	border: 0 none;
	font-size: 15px;
	line-height: 2;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

a.register-button:link,
a.register-button:visited {
	color: rgb(45, 98, 138);
	background: rgb(231,239,203);
	background: -moz-linear-gradient(top, rgba(231,239,203,1) 0%, rgba(208,225,141,1) 50%, rgba(199,216,130,1) 51%, rgba(215,232,148,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,239,203,1)), color-stop(50%,rgba(208,225,141,1)), color-stop(51%,rgba(199,216,130,1)), color-stop(100%,rgba(215,232,148,1)));
	background: -webkit-linear-gradient(top, rgba(231,239,203,1) 0%,rgba(208,225,141,1) 50%,rgba(199,216,130,1) 51%,rgba(215,232,148,1) 100%);
	background: -o-linear-gradient(top, rgba(231,239,203,1) 0%,rgba(208,225,141,1) 50%,rgba(199,216,130,1) 51%,rgba(215,232,148,1) 100%);
	background: -ms-linear-gradient(top, rgba(231,239,203,1) 0%,rgba(208,225,141,1) 50%,rgba(199,216,130,1) 51%,rgba(215,232,148,1) 100%);
	background: linear-gradient(to bottom, rgba(231,239,203,1) 0%,rgba(208,225,141,1) 50%,rgba(199,216,130,1) 51%,rgba(215,232,148,1) 100%);
}

a.register-button:hover {
	color: rgb(51, 51, 51);
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}