/**
 *		NSCC 960 - RTL language overrides
 *
 *		Base style Overrides to support design adjustments needed for
 *		right-to-left languages (e.g. Arabic, Hebrew, etc).
 *
 */



/*
--------------------------
BASIC STRUCTURE (supplimental)
--------------------------
*/


#logo {
  margin: 0 10px 0 0;
  float: right;
}

.alpha.omega {
	margin-left: 0;
	margin-right: 0;
}




/*
--------------------------
TEXT FORMATTING
--------------------------
*/

li {
  margin: 0 25px 0 0;
}




/*
--------------------------
BREADCRUMBS & QUICKLINKS
--------------------------
*/

#breadcrumbs {
  background: transparent url(../imgs/bg-breadcrumbs.png) no-repeat 100% 50%;
  padding: 5px 24px 5px 0;
}




/*
--------------------------
FOOTER
--------------------------
*/

#footer {
	background: url(../imgs/rtl/bg-footer.jpg) repeat-y center top;
}


/* Address */

#block-nscc-5 img.address-qrcode {
	float: left;
}


/* Featured buttons (footer-right) */

#block-nscc-8 .content li a {
	padding: 0 6px 0 30px;
}

#block-nscc-8 .content li a:link,
#block-nscc-8 .content li a:visited {
	background: transparent url(../imgs/rtl/bg-footer-button.png) top right no-repeat;
}

#block-nscc-8 .content li a:hover {
	background: transparent url(../imgs/rtl/bg-footer-button.png) bottom right no-repeat;
}


/* Copyright, etc. */

#meta-footer {
	background: url(../imgs/rtl/bg-footermeta.png) no-repeat right top;
}




/*
--------------------------
TOOLBOX
--------------------------
*/

#toolbox {
  left: 0;
  right: auto;
}

#toolbox ul {
  margin: 0 -6px 0 0;  /* a padding - aligns ul w/ search-box */
}


/* Global Search Form */

#toolbox #search-block-form .form-text,
#toolbox #nscc-search-block-form .form-text {
  float: right;
  margin: 0 0 3px 9px;
}

#toolbox .messages {
  padding: 6px 36px 6px 0;
}


/* Login/Logout */

#block-nscc-1 h2 {
  margin: 0 255px -18px 0;
  text-align: right;
}

#toolbox #user-login-form {
  right: -12px;
  margin: 6px 0 0;  /* toolbox padding */
  text-align: left;
}

#toolbox #user-login-form .form-item {
  float: left;
  margin: 0 9px 3px 0;
}

#toolbox #user-login-form label {
  float: left;
}

#toolbox #user-login-form .netid_help p {
  margin: 0 0 6px 96px;
}


/* Authenticated User Tools */

#block-nscc-2 h2,
#block-nscc-3 h2 {
  float: right;
  margin-left: 6px;
  margin-right: 0;
}


/* Site-Specific Tools */

#block-nscc-3 ul.menu li {
	float: right;
}




/*
--------------------------
HYPERLINK ENHANCEMENTS
--------------------------
*/

a[href$="/emergency-notifier.htm"],
a.link-emergency,
a[href$="/feed"],
a.link-rss,
a[href$="/contact"],
a[href^="mailto:"],
a.link-contact,
a.email,
a.url,
a[href^="http://facebook.com"],
a[href^="http://www.facebook.com"],
a.link-facebook,
a[href^="http://twitter.com"],
a[href^="http://www.twitter.com"],
a.link-twitter,
a[href^="http://youtube.com"],
a[href^="http://www.youtube.com"],
a.link-youtube,
a[href^="http://linkedin.com"],
a[href^="http://www.linkedin.com"],
a.link-linkedin,
a[href$='.pdf'],
a[href$='.doc'],
a[href$='.docx'],
a[href$='.odt'],
a[href$='.rtf'],
a[href$='.swx'],
a[href$='.xls'],
a[href$='.xlsx'],
a[href$='.csv'],
a[href$='.tsv'],
a[href$='.tab'],
a[href$='.123'],
a[href$='.ods'],
a[href$='.sxc'],
a[href$='.ppt'],
a[href$='.pps'],
a[href$='.pptx'],
a[href$='.key'],
a[href$='.keynote'],
a[href$='.odp'],
a[href$='.zip'],
a[href$='.7z'],
a[href$='.bz2'],
a[href$='.gz'],
a[href$='.tar'],
a[href$='.tgz'],
a[href$='.taz'],
a[href$='.sit'],
a[href$='.sitx'],
a[href$='.tar.gz'],
a[href$='.z'],
a[href$='.iso'],
a[href$='.dmg'],
a[href$='.accdb'],
a[href$='.db'],
a[href$='.mdb'],
a[href$='.ldb'],
a[href$='.adp'],
a[href$='.odb'],
a[href$='.flv'],
a[href$='.fla'],
a[href$='.m4v'],
a[href$='.mng'],
a[href$='.mov'],
a[href$='.mp4'],
a[href$='.swf'] {
	padding: 2px 20px 2px 0;
	background-position: 100% 50%;
}




/*
--------------------------
HYPERLINK ENHANCEMENT EXCLUSIONS
--------------------------
*/

.block-menu a,
.feeds a,
.form-item a,
#meta-footer a,
.filefield-file a,
a.feed-icon,
.fp_slide a,
.navindex a {
	padding: 0;
	background-image: none;
}
