table.preview-table tr.preview-row td {
	border: solid 1px rgb(200,200,200);
	width: 25px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	padding: 0px;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	overflow: hidden;
}

div#block-nscc_erc-0 div.block-inner div.content a {
	display: block;
	padding-left: 20px;
	/*padding: 10px auto;*/
	/*margin: 0px auto;*/
}

div#block-nscc_erc-1 div.block-inner{
	display: block;
	background-image:url('/sites/all/modules/nscc_erc/images/sfp-block-bg.jpg');
	height: 150px; 
	width: 220px;
	text-align:center;
	overflow: hidden;
	border-radius: 3px;
	/*box-shadow: 5px 5px 8px #444444;*/	
}

div#block-nscc_erc-1 div.block-inner:hover {
	background-image:url('/sites/all/modules/nscc_erc/images/sfp-block-bg-logo-no-glo.jpg');
}
div#block-nscc_erc-1 div.block-inner a:link,
div#block-nscc_erc-1 div.block-inner a:visited {
	display: block;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	text-align:center;
	padding: 30px 5px;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 5px 2px 2px #444444;
}

div#block-nscc_erc-1 div.block-inner a:active,
div#block-nscc_erc-1 div.block-inner a:hover {
	text-decoration: none;
	text-shadow: 5px 2px 2px #444444;
}

div#block-nscc_erc-1 div.block-inner a:hover:before
{
	display: block;
	content:"Participate!";
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 5px 400px 5px;
}

div#block-nscc_erc-1 div.block-inner a:active:before
{
	display: block;
	content:"Participate!";
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 5px 400px 5px;
	text-shadow: 2px 2px 6px #F4F4F4;
}

