/**
 *		Admin & Content Manager CSS for NSCC Cooperative Preschools site
 *
 *		Stylesheet for the CM and Admin UI.
 *
 *		09-Aug-2011 | mvellines:	created
 */


/*
-------------------------
CONTENT MANAGER UI
-------------------------
*/

.section-node-edit .content-area {
	background-image: none;
}

input.searchfield {
  margin: 2px 0 0 0;
  padding: 0;
  width: 222px;
  vertical-align: middle;
  float: left;
}

input.searchbutton {
  margin: 0 0 0 10px;
  padding: 0;
  vertical-align: middle;
  display: block;
  float: left;
}

.form-item,
.form-checkboxes,
.form-radios { margin-top: 0; }

.region-main fieldset {
  margin: 0 0 12px;
  padding: 12px;
  border: solid 1px rgb(230, 227, 220);
  background-color: rgb(250, 248, 240);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
}

html.js fieldset.collapsible { margin-bottom: 12px; }

.region-main fieldset fieldset { background-color: rgb(240, 237, 230); }

.region-main fieldset fieldset fieldset { background-color: rgb(223, 223, 209); }

.region-main legend {
  padding: 0 6px;
  font-size: 14px;
  color: rgb(143, 133, 89);
}

.region-main fieldset .description {
  margin: 0 0 12px;
  font-size: 12px;
}

.region-main .form-item label {
  margin-bottom: 3px;
  font-size: 11px;
}

.region-main .form-item .description,
.region-main .form-item .description p,
.region-main .form-item .description li {
  margin-top: 3px;
  font-size: 10px;
  color: rgb(95, 95, 95);
}

.region-main .form-item .description li {
  padding: 0 0 3px;
  line-height: 1.1;
}

form .tips {
  list-style: none;
  margin: 0;
  padding: 0;
}

form .tips li {
  margin: 0;
  padding: 0 0 3px;
  font-size: 10px;
  line-height: 14px;
  color: rgb(95, 95, 95);
}

.input-tips-links {
	margin: 0 0 24px;
	font-size: 10px;
	text-align: right;
}

.teaser-checkbox div.form-item { margin: 0; }

.wysiwyg-toggle-wrapper {
  float: right;
  font-size: 10px;
}

/* Login form (page) */
.region-main #user-login .netid_help {
  margin: 24px 0;
  padding: 12px;
  background-color: rgb(222, 229, 200);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
}

/* Multiselect Module */
#multiselect_btns .multiselect_add a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/add.png) no-repeat;
  background-position: 0 0;
}
#multiselect_btns .multiselect_remove a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(/sites/all/modules/multiselect/images/remove.png) no-repeat;
  background-position: 0 0;
}



/*
-------------------------
Admin UI
-------------------------
*/

.section-admin .region-main tr.odd { background-color: rgb(245, 245, 245) /*rgb(250, 247, 240)*/; }

.section-admin .region-main tr.even { background-color: transparent; }

.section-admin .region-main td, th { font-size: 12px; }

.section-admin .region-main tr.odd td.active { background-color: rgb(236, 243, 217); }

.section-admin .region-main tr.even td.active,
.section-admin .region-main th.active { background-color: rgb(245, 252, 233); }

.section-admin .region-main  th,
.section-admin .region-main  td { padding: 0 6px; }


#node-form #upload-attachments th,
#node-form #upload-attachments td {
  padding: 0 3px;
}

#node-form #upload-attachments tr .form-item { white-space: normal; }

#node-form #upload-attachments .form-text {
  display: inline;
  width: auto;
}

#node-form .draggable a.tabledrag-handle {
  height: auto;
  margin: 0;
  padding: 0;
}

html.js fieldset.collapsible .fieldset-wrapper { overflow: inherit; }

.filefield-element .widget-preview, 
.filefield-element .widget-edit {
  float: none;
}

div.messages, div.status, div.warning, div.error, {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.6);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}


