h2.featured-articles-title {
  position: relative;
  width: 140px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  overflow: hidden;
}
span.featured-articles-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/sites/all/themes/nscc_main/imgs/heading-news.png) no-repeat left top;
}
div.featured-articles-content {
	padding: 0 0 0 0;
	margin: 0px;
  /*background: url(/sites/all/themes/nscc_main/imgs/bg-newshome.png) repeat left top;*/
  background-color: white;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 20px;
  margin-right: 0px;
}

ul.featured-articles-list{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
}

li.featured-article {
  float: left;
  padding: 0;
  margin: 0;
  width: 140px;
  list-style: none;
  background: transparent;
}
li.featured-article.position-1 {
	margin-right: 10px;
}
li.featured-article.position-2, li.featured-article.position-3 {
	margin-left: 10px;
	margin-right: 10px;
}
li.featured-article.position-4 {
	margin-left: 10px;
	margin-right: 0px;
}

span.featured-article-date {
	display: block;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  text-transform: uppercase;
  color: #b94c26 !important;
  background: transparent;
}

span.featured-article-title {
	display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
}
li.featured-article span.featured-article-title a, li.featured-article span.featured-article-title a:visited {
	text-decoration: none;
}
li.featured-article span.featured-article-title a:hover {}
li.featured-article span.featured-article-title a:active {}

div.featured-articles-more {
	float:right;
  width: 140px;
  margin-right: 10px;
  overflow: hidden;
}
