/* Header styles */
body {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    margin-top: 0;
}

.svi-bg-blue {
    background: #346094;   
}

.svi-visible-1200 {
    display: none;
}

.svi-invisible-1200 {
    display: block;
}

.svi-space {
    padding: 30px 5px;
}

.sc-header-global-menu {
    background-color: #74bb01;
    border-radius: 50%;
    color: #0a181d;
    cursor: pointer;
    float: left;
    height: 40px;
    margin-top: 18px; 
    padding: 0;
    text-align: center;
    width: 40px;
}

.sc-header-global-menu:hover {
    background-color: #fff;
    color: #111;
}

.sc-header-global-menu .icon {
    font-size: 32px;
    padding: 0;
}

.sc-header-brand {
    float: left;
}

.sc-header-home-page-links-small-screens {
    display: none;
}

.sc-header-home-page-links {
    padding: 24px 0 0 0;
}

.sc-header-home-page-links .btn, 
.bootstrap-select .btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.bootstrap-select {
    margin-top: -2px;
    margin-right: -20px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 90px !important;
}

.bootstrap-select.btn-group .dropdown-menu {
    right: 0;
    left: auto;
}    

.svi-brand img {
    float: left;
    margin-left: 17px;
    padding: 17px 0 18px 0;
    width: 400px;
}

.gtranslate {
    float: right;
    margin-left: 30px;
    margin-right: 17px;
    padding: 25px 0 0 0;
    /*background-color: whitesmoke;
    width: 36px;
    background: url("images/translate-icon.svg");*/
}

.btn-default {
    color: #fff;
    background-color: #346094;
    border: none;
}

.btn-default:focus,
.btn-default.focus {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}
.btn-default:hover {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}

header .navbar-form {
    float: left;
    margin-right: 30px;
    margin-top: -2px;
}

header .navbar-form .input-group > .form-control {
    height: 31px;
}

header .btn-primary {
    color: #fff;
    background-color: #2b507c;
    border: none;
}

header .btn-primary:focus,
header .btn-primary.focus {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}
header .btn-primary:hover {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}
header .btn-primary:active,
header .btn-primary.active,
.open > .dropdown-toggle.btn-default {
    color: #0a181d;
    background-color: #73ba01;
    border: none;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0a181d;
    outline: 0;
}

.btn, .modal-content {
    border-radius: 2px;
}

/* Section navigation */
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-default {
    background-color: #2b507c;
}

.navbar-brand {
    height: 50px;
    padding: 15px 15px;
    font-size: 22px;
    font-weight: 800;
    line-height: 20px;
}

.navbar-default .navbar-brand {
    color: #002c46;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #eee;
    color: #111;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #234166;
}

.dropdown-menu {
    font-size: 18px;
    font-weight: 500;
    background-color: #234166;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.sc-header-home-page-links .dropdown-menu>li>a,
.bootstrap-select .dropdown-menu>li>a {
    font-size: 14px;
}

.dropdown-menu>li>a:hover {
    background-color: #fff;
}

/* Second and third level dropdowns */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


@media (max-width: 1300px) {
    .svi-brand img {
        margin-left: 12px;
        padding: 19px 0 17px 0;
        width: 377px;
    }

    .navbar-brand {
        font-size: 20px;
        font-weight: 800;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }

    .dropdown-menu {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .svi-visible-1200 {
        display: block;
    }

    .svi-invisible-1200 {
        display: none;
    }

    .navbar-brand {
        font-size: 21px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }

    .dropdown-menu {
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
    }

    .dropdown-menu {
        font-size: 16px;
    }

}

@media (max-width: 1000px) {
    .navbar-brand {
        font-size: 16px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }

    .dropdown-menu {
        font-size: 14px;
    }

}

@media (max-width: 767px) {
    .navbar-toggle {
        border-radius: 2px;
        color: #003360;
        margin-top: 8px;
        margin-right: 12px;
        margin-bottom: 7px;
        float: right;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 8px;
        position: relative;
        text-transform: uppercase;
    }

    .navbar-default .navbar-toggle {
        border-color: #003360;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ffc628;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 15px;
    }

    .dropdown-menu {
        font-size: 16px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        background-color: #ffdf86;
        color: #00549d;
    }

    .navbar-default .navbar-nav .open .dropdown-menu li.dropdown-submenu .open ul.dropdown-menu>li>a {
        background-color: #111;
        color: #fff;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #00549d;
        background-color: #ffdf86;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #fff;
        color: #111;
    }

    .navbar-nav .open .dropdown-menu {
        margin-bottom: -5px;
        margin-top: -5px;
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #ffc628;
    }

    li a.second-level-smallscreens {
        background-color: #fff !important;
        color: #111 !important;
        font-size: 14px !important;
    }
}

@media (max-width: 567px) {
    .sc-hide-xs {
        display: none;
    }

    .svi-brand img {
        float: left;
        margin-left: 12px;
        padding: 16px 0 15px 0;
        width: 250px;
    }

    .sc-header-global-menu .icon {
        font-size: 27px;
        padding: 0;
    }

    .sc-header-global-menu {
        height: 32px;
        margin: 13px 0 -5px -5px; 
        width: 32px;
    }

    .bootstrap-select>.dropdown-toggle {
        width: 100%;
        padding-right: 5px;
        margin-top: -9px;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 90px !important;
    }
}

@media (max-width: 450px) {
    .sc-hide-xs {
        display: none;
    }

    .sc-header-global-menu .icon {
        font-size: 24px;
        padding: 0;
    }

    .sc-header-global-menu {
        height: 30px;
        margin: 14px 0 -8px -4px; 
        width: 30px;
    }

    .sc-brand img {
        float: left;
        margin-left: 10px;
        padding: 14px 0 18px 0;
        width: 220px;
    }

    .bootstrap-select .btn {
        font-size: 12px;
        padding: 3px 0 3px 2px;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 52px !important;
    }
}

@media (max-width: 375px) {
    .sc-header-global-menu .icon {
        font-size: 20px;
        padding: 0;
    }

    .sc-header-global-menu {
        height: 24px;
        margin: 14px 0 -8px -4px; 
        width: 24px;
    }

    .svi-brand img {
        float: left;
        margin-left: 8px;
        padding: 14px 0 16px 0;
        width: 180px;
    }

    .bootstrap-select>.dropdown-toggle {
        width: 100%;
        padding-right: 5px;
        margin-top: -13px;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 42px !important;
    }

}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav .closebtn {
    color: #111;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

.sidenav .panel-default {
    border: none;
}

.sidenav .panel {
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidenav a {
    color: #111;
}