.bg-white {
    background-color: #fff !important;
    color: #111 !important;
}

.bg-blue {
    background-color: #0074d9 !important;
    color: #fff !important;
}

.bg-black {
    background-color: #111 !important;
    color: #fff !important;
    padding: 20px;
}

.bg-black p {
    font-weight: 300;
}

.enroll-now-smallscreens {
    display: none;
}

.enroll-now-desktop {
    border-radius: 2px 2px 0 0;
    display: block;
    margin-top: 775px;
    max-width: 660px;
    margin-left: 80px;
}

h1.site-section-title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 18px;
    text-shadow: 2px 2px #000;
}

.jumbotron {
    background-color: #eee;
    background-size: cover;
    color: inherit;
    height: 1000px;
    margin-bottom: 0;
    padding: 0;
}

p.enroll-cta {
    font-size: 24px;
    font-weight: 400;
}

.programs-title, 
.news-feed-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto;
    padding: 20px 10px 7px 0;
    text-transform: uppercase;
}

.programs-title {
    border-bottom: 2px solid #111;
    color: #111;
}

.news-feed-title {
    border-bottom: 2px solid #111;
    color: #111;
}

.jumbotron-news {
    background-color: #346094;
    background-size: cover;
    color: inherit;
    margin-bottom: 0;
    padding-bottom: 70px;
}

.jumbotron-stats {
    background-color: #346094;
    background-size: cover;
    color: inherit;
    margin-bottom: 0;
    min-height: 0;
    padding: 80px 20px 70px 20px;
}

.jumbotron-stats hr {
    margin-top: 4em;
    margin-bottom: 4em;
    border: 0;
    border-top: 1px solid #eee;
    width: 45%;
}

p.sc-stats-number {
    color: #73ba01;
    font-family: "futura-pt", Futura, Helvetica, Arial, sans-serif;
    font-size: 7em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 3px 3px #111;
}

p.sc-stats-text {
    color: #73ba01;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px #111;
}

.program-page-main-content, 
.program-page-secondary-content {
    font-size: 21px;
    line-height: 1.5;
    padding-bottom: 1.5em;
    padding-top: 1.25em;
}

.program-page-main-content .basic-title, 
.program-page-secondary-content .basic-title  {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.program-page-secondary-content p a, 
.program-page-secondary-content address a {
    color: #0000ff;
    text-decoration: none;
}

.program-page-secondary-content p a:hover,
.program-page-secondary-content p a:focus,
.program-page-secondary-content address a:hover,
.program-page-secondary-content address a:focus {
    background-color: #eee;
    color: #0000ff;
    text-decoration: none;
}

.program-page-main-content h2, .program-page-secondary-content h2,
.program-page-main-content h3, .program-page-secondary-content h3,
.program-page-main-content h4, .program-page-secondary-content h4,
.program-page-main-content h5, .program-page-secondary-content h5,
.program-page-main-content h6, .program-page-secondary-content h6 {
    font-weight: 700;
    font-style: normal;
}

.program-page-main-content h2, 
.program-page-secondary-content h2 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 30px;
}

.program-page-main-content h3, 
.program-page-secondary-content h3 {
    color: #555;
    font-size: 22px;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 12px;
}

.program-page-main-content p, .program-page-secondary-content p, 
.program-page-main-content ol, .program-page-secondary-content ol, 
.program-page-main-content ul, .program-page-secondary-content ul {
    margin: 0 0 1em;
}

.program-page-main-content ol, .program-page-secondary-content ol, 
.program-page-main-content ul, .program-page-secondary-content ul {
    margin: 0 0 1em -12px;
}

.program-page-main-content ul li, .program-page-secondary-content ul li, 
.program-page-main-content ol li, .program-page-secondary-content ol li {
    margin-bottom: 8px;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 18px 0 30px 0;
    transition: 0.3s;
    width: 100%;
}

.card img {
    border-radius: 2px 2px 0 0;    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 2px;
}

.card-container {
    padding: 2px 16px;
}

.cards-bottom {
    margin-bottom: 30px;
}

.article-headline {
    font-size: 19px;
    font-weight: 600;
}

.article-headline a {
    color: #222;
}

.sc-quote-text {
    font-size: 30px;
    font-weight: 500;
    color: #777;
    line-height: 40px;
    margin-top: 24px !important;
}

.sc-person-quote {
    color: #333;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 1920px) {
    .jumbotron {
        height: 920px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 695px;
    }
}    

@media only screen and (max-width: 1680px) {
    .jumbotron {
        height: 840px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 627px;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1600px) {
    .jumbotron {
        height: 740px;
    }

    .enroll-now-desktop {
        display: block;
        margin-top: 527px;
        max-width: 550px;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1440px) {
    .jumbotron {
        height: 740px;
    }

    .enroll-now-desktop {
        margin-left: 0;
    }

    h1.site-section-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 1366px) {
    .jumbotron {
        height: 600px;
    }

    .enroll-now-desktop {
        margin-top: 387px;
    }
}    

@media only screen and (max-width: 1280px) {
    .jumbotron {
        height: 630px;
    }

    .enroll-now-desktop {
        margin-top: 429px;
        max-width: 500px;
    }

    h1.site-section-title {
        font-size: 36px;
    }

    .programs-title, 
    .news-feed-title {
        font-size: 18px;
    }

    p.enroll-cta {
        font-size: 16px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .program-page-main-content p.enroll-cta {
        font-size: 16px;
        padding-top: 1.15em;
    }

    .program-page-main-content .basic-title {
        margin-bottom: 21px;
        margin-top: 4px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        color: #111;
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .program-page-sidebar h4.list-group-item-heading {
        font-size: 18px;
    }

    .breadcrumb {
        font-size: 12px;
    }

    .breadcrumb>.active {
        font-size: 13px;
    }

    p.sc-person-quote {
        font-size: 14px;
        text-align: center !important;
    }
}

@media only screen and (max-width: 1024px) {
    .jumbotron {
        height: 420px;
    }

    .enroll-now-desktop {
        display: none;
    }

    .enroll-now-smallscreens {
        display: block;
        padding: 20px;
    }

    h1.site-section-title {
        color: #111;
        font-size: 30px;
        text-shadow: none;
    }

    .programs-title, 
    .news-feed-title {
        font-size: 21px;
    }

    .article-headline {
        font-size: 16px;
    }

    p.enroll-cta {
        font-size: 18px;
    }

    .sc-quote-text {
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px !important;
    }

    .sc-person-quote {
        font-size: 14px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .program-page-main-content p.enroll-cta {
        font-size: 18px;
        padding: 0 24px 24px 24px;
    }

    .program-page-main-content .small-screen-section-title {
        display: block;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .program-page-main-content .small-screen-section-title a {
        background-color: #eee;
        border-bottom: none;
        color: #111;
        font-weight: 500;
    }

    .program-page-main-content .small-screen-section-title a:hover {
        background-color: #eee;
        border-bottom: none;
        color: #666;
        font-weight: 500;
    }

    .program-page-main-content .basic-title {
        margin-bottom: 24px;
        margin-top: 20px;
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 26px;
        margin-bottom: 12px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        color: #111;
        font-size: 18px;
        line-height: 26px;
        margin-top: 26px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 767px) {
    p.sc-stats-number {
        font-size: 6em;
    }

    p.sc-stats-text {
        font-size: 1.725em;
    }

    .programs-title, 
    .news-feed-title {
        font-size: 18px;
    }

    p.enroll-cta {
        font-size: 16px;
    }

    .sc-quote-text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 18px !important;
    }

    .sc-person-quote {
        font-size: 14px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .article-headline {
        font-size: 16px;
    }

    .program-page-main-content .basic-title {
        margin-bottom: 21px;
        margin-top: 16px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h2 {
        font-size: 16px;
        line-height: 22px;
        margin-top: 22px;
        margin-bottom: 8px;
    }

    .jumbotron-news {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        height: 300px;
    }


    p.sc-stats-number {
        font-size: 5em;
        text-shadow: 2px 2px #111;
    }

    p.sc-stats-text {
        font-size: 1.25em;
        text-shadow: 1px 1px #111;
    }

    h1.site-section-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .programs-title, 
    .news-feed-title {
        font-size: 16px;
    }

    p.enroll-cta {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .sc-quote-text {
        font-size: 14px;
        line-height: 24px;
        margin-top: 18px !important;
    }

    .sc-person-quote {
        font-size: 12px;
    }

    .program-page-main-content, 
    .program-page-secondary-content, 
    .article-headline {
        font-size: 14px;
    }

    .program-page-main-content .small-screen-section-title, 
    .program-page-main-content p.enroll-cta {
        font-size: 12px;
    }

    .details-page-main-content .basic-title {
        margin-bottom: 21px;
        margin-top: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .program-page-main-content h2, 
    .program-page-secondary-content h2 {
        font-size: 17px;
        line-height: 22px;
        margin-top: 22px;
        margin-bottom: 12px;
    }

    .program-page-main-content h3, 
    .program-page-secondary-content h3 {
        font-size: 14px;
        line-height: 14px;
        margin-top: 22px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 450px) {
    .enroll-now-smallscreens .btn, 
    .read-more-smallscreens .btn {
        display: block;
        margin-top: 10px;
    }
}