/* Corrective news style-fixes for IE < 8 */


.two-sidebars #content-regions,
#nscc-feed-picker-form { height: 1%; }
#user-login-form { width: 100%; }


/* Hide from IE 7 \*/
* html .region-main #content-title { height: 1%; }
* html .two-sidebars .region-left { left: -185px; }
/* end hiding */