/**
 *		NSCC College Council Site styles
 *
 *		Base stylesheet for theme. Most of the text specifications are contained
 *		in the imported stylesheet to make them available to the RTF widget used
 *		by content managers.
 *
 */

@import "tiny-mce.css";



/* Council Members List */

#block-nscc_col_council-0 {}

#block-nscc_col_council-0 .committee-member-list {}

li.committee-member {
	position: relative;
	clear: both;
	margin: 6px 0;
	padding: 0;
	line-height: 1;
	overflow: hidden;
}

.member-constituency {
	display: block;
	width: 80px;
	float: right;
	font-size: 10px;
	color: rgb(114, 143, 62);
}

.member-name {

}

.member-name:link,
.member-name:visited {
	text-decoration: none;
}

.member-name:hover {
	text-decoration: underline;
}

.member-position {
	display: block;
	font-size: 10px;
	line-height: 1;
	color: rgb(143, 143, 143);
}
