/* $Id: nscc_instructor_tools.css,v 1.3 2007/11/30 09:02:51 goba Exp $ */



/* Instructor Schedule Block (profile page) */

.block-nscc_instructor_tools h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 6px;
}

.block-nscc_instructor_tools .yrq_nav ul,
.block-nscc_instructor_tools .class_list ul {
  margin: 0;
  padding: 0;
}

.block-nscc_instructor_tools .yrq_nav li {
  position: relative;
  float: left;
  text-align: center;
  font-size: 75%;
  width: 50%;
}

.block-nscc_instructor_tools .yrq_nav li a {
  display: block;
  border-top: solid 1px rgb(230, 230, 230);
  border-bottom: solid 1px rgb(230, 230, 230);
}

.block-nscc_instructor_tools .yrq_nav li a:hover {
  color: rgb(26, 88, 143);
  background-color: rgb(240, 240, 240);
}

.block-nscc_instructor_tools .class_list { clear: both; }
#instructor_schedule_quarter_display .class_details li {
  padding: 0;
  text-align: left;
}

#instructor_schedule_quarter_display .classes li { padding: 3px; }

#instructor_schedule_quarter_display .classes li li { padding: 0; }

.block-nscc_instructor_tools .class_details a:link,
.block-nscc_instructor_tools .class_details a:visited { text-decoration: underline; }

.block-nscc_instructor_tools .class_details a.edit-button:link,
.block-nscc_instructor_tools .class_details a.edit-button:visited { text-decoration: none; }

#instructor_schedule_quarter_display .class_details .course-days-times {
  font-size: 90%;
  line-height: 1;
  color: rgb(147, 147, 147);
}


/* class tools picker */

#instructor_picker_quarter_display {
}

#instructor_picker_quarter_display h2 {
  /*
  font-size: 1.7em;
  line-height: 1;
  margin: 0 0 6px;
  */
}

.yrq_picker_nav ul,
#instructor_picker_quarter_display .picker_list ul {
  margin: 0;
  padding: 0;
}

.yrq_picker_nav li {
  position: relative;
  float: left;
  text-align: center;
  font-size: 75%;
  width: 40%;
  display: inline;
}

.yrq_picker_nav li a {
  display: block;
  border-top: solid 1px rgb(230, 230, 230);
  border-bottom: solid 1px rgb(230, 230, 230);
}

.yrq_picker_nav li a:hover {
  color: rgb(26, 88, 143);
  background-color: rgb(240, 240, 240);
}

#instructor_picker_quarter_display .picker_list { clear: both; }

#instructor_picker_quarter_display ul.classes { 
	padding:0px;
	margin:0px;
}

#instructor_picker_quarter_display ul.classes li.class {
	list-style: none;
	margin: 0px;
	padding: 3px;
}

#instructor_picker_quarter_display ul.classes li li { padding: 0; }

#instructor_picker_quarter_display ul.class_details li {
	display: inline;
	padding: 0;
	text-align: left;
}

#instructor_picker_quarter_display .class_details li.course-no {
	margin: 0;
}

#instructor_picker_quarter_display .class_details li span.course-title {
	/*
	padding-left: 10px;
	font-size: 1.5em;
	*/
	padding-left: 1em;
	font-size: 1.1em;
}

#instructor_picker_quarter_display .class_details li.course-days-times {
	display: block;
	margin: 0;
	/*font-size: .9em;*/
	font-size: 11px;
	line-height: 1;
	color: rgb(147, 147, 147);
}

#instructor_picker_quarter_display .class_details a:link,
#instructor_picker_quarter_display .class_details a:visited { text-decoration: underline; }

#instructor_picker_quarter_display .class_details a.edit-button:link,
#instructor_picker_quarter_display .class_details a.edit-button:visited { text-decoration: none; }


/* class details form */

#nscc-instructor-tools-item-updateform .form-item {
	margin: 0;
}

a.et-process-link {
	background: transparent url(/sites/all/themes/nscc_960/imgs/action-button.png) no-repeat;
	height: 32px;
	line-height: 32px;
	display: block;
	padding: 0px 0px 0px 42px;
	font-size: 14px;
	margin-bottom: 18px;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.6);
	width: 240px;	
	}
a.et-process-link:link, a.et-process-link:visited {
	background: transparent url(/sites/all/themes/nscc_960/imgs/action-button.png) no-repeat;
	background-position: 0 0 ;
	color: rgb(21,103,169);
}
a.et-process-link:hover {
	background: transparent url(/sites/all/themes/nscc_960/imgs/action-button.png) no-repeat;
	background-position: 0 -33px;
	color: white;
}
a.et-process-link:active {
	background: transparent url(/sites/all/themes/nscc_960/imgs/action-button.png) no-repeat;
	background-position: 0 -65px;
	color: rgb(51,51,51);
}
span.et-process-nomore {
	background: transparent url(/sites/all/themes/nscc_960/imgs/action-button.png) no-repeat;
	background-position: 0 -98px;
	display: block;
	padding: 0px 0px 0px 42px;
	color: rgb(111,111,111);
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	margin-bottom: 18px;
	text-decoration: none;	
	border-radius: 10px;
	width: 240px;	
}

div.one-line-form div{ display: inline;}
div.one-line-form label{ display: inline;}

table.roster { margin-top:20px;}
tr.roster-entry { /*padding: 3px 5px;	(table-rows have no margin or padding) */}
tr.roster-entry.selected-student { background-color: rgb(210, 210, 240);}
tr.roster-entry.active { background-color: rgb(214, 211, 204); }
tr.roster-entry.active.selected-student { background-color: rgb(180, 180, 210); }

table.waitlist { margin-top:20px;}
tr.waitlist-entry.selected-student { background-color: rgb(210, 210, 240);}
tr.waitlist-entry.active { background-color: rgb(214, 211, 204); }
tr.waitlist-entry.active.selected-student { background-color: rgb(180, 180, 210); }
div#not-waitlist-add { display: none; }

span.complete-tag {font-size: .75em; color: white; background-color: teal; border: solid 1px teal; padding: 2px 3px; margin: 2px; border-radius: 7px; box-shadow: 0 2px 3px rgba(0,0,0,.3);}
/*span.complete-tag.audit-tag {font-size: .75em; color: white;}*/
span.pending-tag {font-size: .75em; color: teal; background-color: white;  border: solid 1px teal; padding: 2px 3px; margin: 2px; border-radius: 7px;}
span.pending-remove-tag {font-size: .75em; color: maroon; background-color: white;  border: solid 1px maroon; padding: 2px 3px; margin: 2px; border-radius: 7px;}

